[2014-07-11 15:41] pbauer opened #1 "Add example for a custom facetted view"
in custom_search.rst

[2014-07-11 16:07] pbauer opened #2 "Move packages used for the training to plone or collective"
These packages used in the training should be editable by everyone:
- https://github.com/starzel/ploneconf.site
- https://github.com/starzel/ploneconf.site_sneak
- https://github.com/starzel/training_buildout
- https://github.com/starzel/training_without_vagrant
- https://github.com/starzel/starzel.votable_behavior

[2014-07-12 10:26] pbauer opened #3 "Add chapter on custom forms"
the chapter should include the following topics:
- custom dexterity add- and edit-forms
- custom forms with z3c.forms
- custom forms by hand
- extending existing z3c.forms

Also similar tasks for Volto.

[2014-07-19 13:06] macagua opened #7 "Add support for translations"
Hi @pbauer

Following the same way using docs.plone.org iniciative I created:
- A Transifex project called "mastering-plone-training" into Plone organization. https://www.transifex.com/projects/p/mastering-plone-training/
- Spanish translations and using as a resource in my Plone training. https://www.transifex.com/projects/p/mastering-plone-training/language/es/

Also I added support for Sphinx's

[2014-07-25 09:51] pbauer opened #8 "Add testing"
- [ ] add a chapter on test-setups, plone.app.testing, unittests and integration-tests
- [ ] add a chapter on robot-tests
- [ ] add tests to most chapters
- use https://github.com/tisto/plone-testing-documentation as source for the tests
- use plone.api for tests

[2014-07-25 09:58] pbauer opened #9 "Add chapter on relations"
add a chapter on relations
- widgets
- custom indexers
- use of refs in views
  based on http://docs.plone.org/external/plone.app.dexterity/docs/advanced/references.html

[2014-08-05 13:57] cdw9 opened #12 "ConfigurationError on Complex Behaviors"
Going though the training, I'm trying to set up the starzel.votable_behavior package. I have been copying and pasting all the code, and I'm getting this error:

[code]

I have not been able to track down where this is coming from, and had gotten a similar error earlier when trying to set up the sponsors.  I am using Plone 4.3.3

[2014-08-05 14:24] #12 closed, assigned to nobody

[2014-08-30 13:50] pbauer opened #13 "Add a new chapter on speakers, relation and membrane"
Add a chapter that refactors parts of the website once it went online. The plan is to use a speaker-type as members using membrane.

Topics:
- Refactoring of code and functionality
- Relations II (automatic relations)
- Members as content

Tasks:
- Create a new content-type 'speaker' chapter
- Use the behaviors from dexterity.membrane to create members from speakers
- Enable self-registration as s

[2014-09-01 06:24] svx opened #14 "Move training from rtd to training.docs.plone.org or docs.plone.org/training or something else"
During the last year, we worked really hard to get all official docs, out of rtd and other places to have them under one umbrella.
Since training moved to github.com/plone it is also official now and I would like to suggest to move it to for example: training.docs.plone.org or docs.plone.org/training or something else.
This will also make us [Plone] look more professional.

One other reason is, rt

[2014-09-09 12:06] Gomez opened #16 "Chapter about preparatory work?"
Some informations and links for people already registered for the training and wanna prepare themself.
- Got 15 minutes and want to learn Git? https://try.github.io/
- Install the requirements
- (get vagrant & let it download all the stuff) you’ll have to download a complete virtual machine (ubuntu) and several packages and updates.

[2014-09-10 09:37] Gomez opened #18 "There is a note about a bug in vagrant and windows - but no solution? Missing link?"
See:
http://plone-training.readthedocs.org/en/latest/plone_training_config/instructions.html#install-and-configure-vagrant

In Windows there is a bug in the recent version of Vagrant. Here are the instruction how to work around the warning Vagrant could not detect VirtualBox! Make sure VirtualBox is properly installed.

Link missing?

[2014-09-11 09:45] Gomez opened #20 "Error on vagrant up"
[code]

Should the repo https://github.com/starzel/training_buildout.git be moved to the collective?

[2014-09-11 09:53] Gomez opened #21 "Move "What Vagrant does" in the appendix"
http://plone-training.readthedocs.org/en/latest/plone_training_config/instructions.html#what-vagrant-does

Its not need here, lets move it into a appendix and place a link here

[2014-09-11 09:57] Gomez opened #22 "Add given trainings to history"
http://plone-training.readthedocs.org/en/latest/about.html#history

Should we add the past trainings here? As reference
- März München - Einewelthaus
- Plone Conf 2012
- Pone Conf 2013

(Upcoming to?)
- Plone Conf 2014

@pbauer Somewhere else?

[2014-09-16 12:50] Gomez opened #24 "Move "The Case-Study" after "The Anatomy of Plone""
In chapter "The Anatomy of Plone" is no mention of the fictional Plone conference.
The "The Case-Study" chapter should be moved.

[2014-09-25 15:40] Gomez opened #25 "Update "Configure a Mailserver" before a training"
Reminder to update the local docs:

http://plone-training.readthedocs.org/en/latest/features.html

Perhaps create a "instructions /  remember" page for trainers, to check several things...

[2014-09-29 12:07] Gomez opened #26 "Behaviors that are enabled: Referenceable - but not there"
Referenceable should be a behaviors, but its not there.

Does plone.app.referenceablebehavior is missing?

http://plone-training.readthedocs.org/en/latest/dexterity.html#creating-content-types-ttw

[2014-10-03 14:46] Gomez opened #31 "Thirdparty_behaviors missing add"
Missing zcml entry and buildout run? Mention it?

http://plone-training.readthedocs.org/en/latest/thirdparty_behaviors.html

[2014-10-04 10:07] #24 closed, assigned to nobody

[2014-10-06 09:34] #22 closed, assigned to nobody

[2014-10-06 10:10] #21 closed, assigned to pbauer

[2014-10-06 11:43] #26 closed, assigned to pbauer

[2014-10-06 12:16] #20 closed, assigned to Gomez

[2014-10-06 12:22] #31 closed, assigned to Gomez

[2014-10-06 12:32] #25 closed, assigned to Gomez

[2014-10-06 12:38] #16 closed, assigned to nobody

[2014-10-06 13:38] pbauer opened #36 "Use plone.app.widgets"
At least document how to use it.

[2014-10-06 14:50] pbauer opened #37 "Create a Data.fs for a advanced training (all changes up to chapter 13)"

[2014-10-10 14:43] Gomez opened #38 "We recommend a vagrant setup but first explain how to not use vagrant"
We should first explain the vagrant setup and than for the more experienced user the setup without vagrant:

http://plone-training.readthedocs.org/en/latest/plone_training_config/instructions.html

[2014-10-10 15:10] Gomez opened #39 "Port in buildout and port forward is not the same"
2014-10-10 15:00:25 INFO ZServer HTTP server started at Fri Oct 10 15:00:25 2014
        Hostname: 0.0.0.0
        Port: 8081

Vagrant:
  config.vm.network :forwarded_port, guest: 8080, host: 8080

Here is the commit:
https://github.com/starzel/training_buildout/commit/a3bc4d083f9336bd1d395b7b75ce6423683ca809#diff-a55fc4e553af13234f26342646b88e19

@pbauer Where to fix?

[2014-10-10 15:15] #39 closed, assigned to nobody

[2014-10-10 15:40] Gomez opened #40 "Install "unzip" with puppet"
unzip is needed within the training.

[2014-10-14 18:34] #2 closed, assigned to Gomez

[2014-10-16 15:12] pbauer opened #42 "Protect field 'notes' with something other but cmf.AddPortalMember"
In chapter http://plone-training.readthedocs.org/en/latest/user_generated_content.html we enable self-registration, so anonymous has the permission cmf.AddPortalMember and the default-view shows the field ...
To my defense: I added the self-registration after http://plone-training.readthedocs.org/en/latest/dexterity_3.html

[2014-10-17 14:21] #40 closed, assigned to nobody

[2014-10-21 14:12] Gomez opened #47 "Exercise 2 in viewlets_1 needs solution"
Just a todo, so it do not get lost.
http://plone-training.readthedocs.org/en/latest/viewlets_1.html

[2014-10-22 14:27] Gomez opened #50 "Chapter 31. More complex behaviors is missing ploneconf.site_sneak"
The code should be in:
https://github.com/collective/ploneconf.site_sneak

[2014-10-24 09:36] #42 closed, assigned to nobody

[2014-12-05 12:30] pbauer opened #54 "Use Plone 5 in the training"
Todo:
- [x] use Plone 5 in the vagrant-setup
- [x] update the training-buildout. Started in https://github.com/collective/training_buildout/tree/plone5
- [x] replace zopeskel with mr.bob. Started in: https://github.com/collective/bobtemplates.plone
- [x] Make add-ons compatible with Plone 5
  - [x] ploneconf.site
  - [x] Products.PloneFormGen
  - [ ] collective.plonetruegallery
  - [ ] collective.

[2015-03-01 05:26] ryneeverett opened #57 "views_1: Explain how to display the view in a page."
It would be nice if there were a line or two at the end about how to go into the ZMI *portal_types* and add the view to *Available view methods*.

[2015-03-01 08:03] pbauer commented on #57
Done: http://plone-training.readthedocs.org/en/latest/views_2.html#the-default-view

[2015-03-01 08:03] #57 closed

[2015-03-04 16:19] jensens opened #59 "buildout:eggs is a bad idea"
At https://github.com/plone/training/blob/plone5/buildout_1.rst eggs are defined in the buildout section and then used with ${buildout:eggs} in instance.

This will lead to serious problems if you start building eggs like i.e. python-ldap with custom options. I wrote a blog entry about it in 2008 http://bluedynamics.com/articles/jens/dependencies-and-zc.buildout which is still true.

[2015-03-04 16:20] aclark4life commented on #59
+1000 Pretty sure I've written about this too, and could dig up some blog entries about it if needed.

[2015-03-04 16:22] aclark4life commented on #59
E.g. you will never see `buildout:eggs` in Plock: https://github.com/plock/pins

[2015-04-06 14:38] idgserpro opened #61 "Error when provisioning machine from zip file (pkg_resources.VersionConflict: (setuptools 2.2 (/home/vagrant/py27/lib/python2.7/site-packages), Requirement.parse('setuptools>=8.0')))"
Just by provisioning the machine [from the zip in the official docs](https://plone-training.readthedocs.org/en/latest/_downloads/plone_training_config.zip) this error occurs:

[code]

I can avoid this problem by:

- Removing the created virtualenv;
- Editing the plone.pp manifest adding [`--no-setuptools`](https://github.com/plone/training/blob/master/plone_training_config/manifests/plone.pp#L60)

[2015-04-06 15:00] do3cc commented on #61
Hi,

did you try the plone5 branch? There we avoid vagrant alltogether, iirc

[2015-04-06 17:47] idgserpro commented on #61
It works, but I need the 4.3.x branch. Since the plone5 branch [asks for setuptools 12](https://github.com/plone/training/blob/plone5/plone_training_config/manifests/plone.pp#L113) it doesn't conflict with zc.buildout 8.0 requirement.

Are you planning to completely avoid Vagrant in plone5 branch, or just going to be an "advanced" topic?

[2015-04-07 09:40] do3cc commented on #61
I remembered it incorrectly. We had no windows laptops in our training.

[2015-04-07 09:43] do3cc commented on #61
I've updated the repo to add your proposed fix. Can you try it again?

[2015-04-07 17:39] idgserpro commented on #61
I made a mistake, I should have been clearer in my bug report.

Using the `--no-setuptools` option doesn't install pip.

I was using the [zip file in instructions](https://plone-training.readthedocs.org/en/latest/plone_training_config/instructions.html) and since it's manifests/plone.pp doesn't use pip, the `--no-setuptools` fix makes sense.

...but in the [repo master](https://github.com/plone/tr

[2015-04-16 20:21] idgserpro commented on #61
@do3cc we can't change the code ourselves by pull requests since we can't sign the contributor's agreement. Can you [check the last comment](https://github.com/plone/training/issues/61#issuecomment-90664199)? Thanks in advance!

[2015-04-17 08:55] do3cc commented on #61
@idgserpro Sorry, this got lost, I take care of it.

[2015-04-17 08:58] do3cc commented on #61
btw, since there is no email, who are you? Are there really plone devs in BH? I pass by there regulary

[2015-04-17 09:57] do3cc opened #62 "Add a clear statement about the licence and the contributor Agreement"
As I've learned from https://github.com/plone/ansible.plone_server/pull/22#issuecomment-92301537

We don't necessarily need a CA from people to contribute to this repo.
We should clarify and state this if everybody agrees.
@pbauer

[2015-04-17 14:01] idgserpro commented on #61
This is a corporate account for Serpro - Serviço Federal de Processamento de Dados, an IT Brazilian Government company. All Zope/Python/Plone related activities in github are handled using this account. We're already contributing to some packages following an internal norm that guides how the contributions should be done (but not Plone core yet).

Yes, there are some Plone devs in BH. We'll try to

[2015-04-17 14:09] do3cc commented on #61
Cool. Lets see. In january we will pass by on our trip to Montes Claros.
Regarding the Contributor Agreement, I think we can ignore this:
https://github.com/plone/training/issues/62

[2015-04-17 14:09] #61 closed

[2015-04-17 14:34] idgserpro commented on #61
Don't forget to change https://plone-training.readthedocs.org/en/latest/about.html#license to reflect this formal change to avoid confusion.

So, will the License be only a line long?

[code]

[2015-04-17 14:41] idgserpro commented on #62
So, will the License be only a line long?

[code]

[2015-04-17 16:10] do3cc commented on #62
No, I think we should put a copy of the licence in the repo.
And we should somehow clarify if we need a contributor agreement. Imho we don't but I want Philips opinion too.

[2015-04-28 04:03] fulv opened #63 "Direct people to more current channels for Contributor Agreement"
https://github.com/plone/training/blob/master/about.rst#license

Should we stop directing people to http://sourceforge.net/p/plone/mailman/plone-docs/, or plone-docs%40lists.sourceforge.net?

We could use community.plone.org, or github issues.

[2015-04-28 08:33] gforcada commented on #63
I think the canonical place right now is https://plone.org/foundation/contributors-agreement

[2015-04-28 13:32] procmail opened #65 "Errors when following "Installing Plone without vagrant" - conflicting setuptools versions?"
Are different versions of setuptools needed for python bootstrap.py and bin/buildout?

[code]
Do a `pip install -U setuptools`,  then `bin/buildout `

When doing a `bin/buildout`, I get this:
[code]

[2015-04-28 17:42] fulv commented on #63
That canonical place is already cited in the License section, so I think we're good.  If the documentation team wants to handle inquiries about the CA via emails to the list, I guess that's their choice.

[2015-04-28 17:42] #63 closed

[2015-04-28 18:47] fulv opened #68 "Additional INFO log messages on first fg start"
Just for the record, the first time a plone instance is started (when there is no blobstorage yet), the following INFO messages are produced in the foreground console log.  I'm not sure if it's worth adding these to the `plone_training_config/instructions.rst` page.

[code]

Also, there is this one:

`2015-04-28 11:39:55 INFO Plone OpenID system packages not installed, OpenID support not available

[2015-04-29 12:51] idgserpro commented on #62
@polyester @do3cc @pbauer do you have the same opinion for [docs.plone.org](http://docs.plone.org/license.html)?

[2015-04-29 13:21] svx opened #70 "Broken links on master"
running link check on the master branch gives me the following broken urls:
- broken    https://github.com/plone/training/pull/ - HTTP Error 404: Not Found
- broken      http://2013.pythonbrasil.org.br/program/training/mastering-plone - <urlopen error [Errno 111] Connection refused>
- broken    http://docs.plone.org/develop/addons/five-grok/index.html - HTTP Error 404: Not Found
- broken    http:/

[2015-04-29 13:23] svx opened #71 "Spell-check ?"
would it make sense to add spell-check to sphinx? With this we could make sure that we run spell-checks during tests [ci]

[2015-04-29 15:10] polyester commented on #62
It's a bit complicated, but in general:

- you need a Contributor Agreement to be allowed into the "plone" organisation on github to have direct push rights. That won't change.
- for pulling in pull requests from outside contributors, that is a bit more shady. On 'configuration' and 'databases', no copyright is valid, so that can be pulled in without any doubt.
- the jury (well, german courts...)

[2015-04-29 20:10] idgserpro commented on #62
If it's a consensus in Plone Board that " a pull request can also be seen as consent of publishing under CC4.", IMHO this should be explicitly stated in each docs/configuration repos contributing guidelines, or even in [Contributor’s Agreement for Plone Explained](https://plone.org/foundation/contributors-agreement) itself.

I'm telling this because, as a corporate account, we can't change repos t

[2015-05-03 14:32] svx opened #79 "Update sphinx version?"
updating the version of sphinx will give some nice improvements, this also means an update of docutils and pygments.

Also we can remove the rtd theme as an egg, with the latest version of sphinx the rtd theme is auto included.

[2015-05-07 08:50] allcaps commented on #65
I encountered the same error and specified the bootstrap an setuptools versions:
`python2.7 bootstrap.py --version=2.2.5 --setuptools-version=7.0`

[2015-05-18 09:38] pbauer commented on #79
:+1:

[2015-05-18 09:39] pbauer commented on #70
@svx: thanks. I will fix them.

[2015-05-20 08:04] pbauer commented on #79
done

[2015-05-20 08:04] #79 closed

[2015-05-21 17:46] svx commented on #14
I can't find the other issue about that, so I will summarize here:

Upcoming new Urls:

training.plone.org/4 -> [Plone 4]

training.plone.org/5 -> [Plone 5]

what should we do with training.plone.org ?

redirect to one of the above or have a landing site saying "Welcome here the link to P4/P5 trainings" ?

@pbauer, @fulv, @fredvd,  and or the rest any thoughts ?

[2015-05-21 17:53] fulv commented on #14
I think it should have links to P4 and P5 trainings.

On Thu, May 21, 2015 at 10:46 AM sven <notifications@github.com> wrote:

[2015-05-22 09:30] svx commented on #14
training.plone.org is online with a landing page and links to the trainings for Plone 4 and Plone 5

**todo**

- upgrade the links in the training docs to point to training.plone,org instead of read the docs
- remove content from read the docs and/or redirect to training.plone.org

[2015-05-27 02:24] fulv commented on #14
I think the about.html page is not version-specific, and could be moved to the landing page.  Except that it's a lot of content, and having the landing page be fairly minimal would be a good goal.
The one thing from about.html that should definitely move to the landing page is the "upcoming trainings".    Maybe also "past trainings" and "trainers".

[2015-05-27 04:13] svx commented on #14
That is more or less what I did, I also included trainers already.

If we have a list with upcoming traninings sure we can include it

[2015-05-27 04:21] fulv commented on #14
I meant
* http://training.plone.org/4/about.html#upcoming-trainings
* http://training.plone.org/4/about.html#previous-trainings
* http://training.plone.org/4/about.html#trainers

Where does the source for the landing page live?

[2015-05-27 04:26] svx commented on #14
As I said, trainers are already included:

http://training.plone.org/trainer/index.html which is a copy of http://training.plone.org/4/about.html#trainers

and sure we can include upcoming and previous trainings.

The source is on github:

https://github.com/plone/training.plone.org, change it and I will make a new build

[2015-05-27 04:47] fulv commented on #14
sorry, missed the link.  I will open pull request.

On Tue, May 26, 2015 at 9:26 PM sven <notifications@github.com> wrote:

[2015-05-27 04:50] svx commented on #14
IMHO what we all have to keep in mind, that is 'just' a landing page, we do not want to overwhelm the visitor with too much info at all, the visitor is looking for trainings and some info about that.

Also we have to thing as a visitor and not as a developer or trainer.

So we should keep it simple and clear, for more info we can always links to the reference site in the training docs itself.

A g

[2015-05-27 07:30] pbauer commented on #14
http://training.plone.org/5/ is the Plone4-version (branch master) and not the Plone5-version (branch plone5).

[2015-05-27 08:00] svx commented on #14
Fixed !

[2015-06-02 15:47] fulv opened #96 "deploy to training.plone.org"
@svx how does the deployment process work?
is it automatic?
what's the schedule?

[2015-06-03 08:41] svx commented on #96
Not yet, I had no time to work on this, it is still on my list, for the moment just send a pull request and I push it to the server.

[2015-06-03 16:18] fulv commented on #96
Thanks, @svx, good to know!

@pbauer, FYI

[2015-06-03 16:18] #96 closed

[2015-06-04 16:45] fulv opened #97 "Custom search (Unit 27) plone 5 compat"
Meta:  I'm going to create a "Plone 5" label, and start adding issues with that label, so we can keep track of what is still not ready on the plone5 branch.

This one is about the `custom_search.rst` page, on eea.facetednavigation, which is not compatible with plone 5 yet.

We should find out the eta for eea.facetednavigation to be made compatible.
And hide this unit from the training until it's m

[2015-06-11 01:17] fulv opened #99 "collective.behavior.banner is not yet compatible with Plone 5"
Unit 31.
https://github.com/plone/training/blob/master/thirdparty_behaviors.rst

[2015-06-13 01:40] fulv opened #101 "Relations need more content"
It says:  `I show you how to do it TTW...`, but I have never used relations, so I have no idea how to fill in those blanks.  If you want to tell me in person on a call, @pbauer, I can add the text.

[2015-06-13 07:09] pbauer commented on #101
@fulv You can add relations (list or choice) in the dexterity schema-editor. You can even define allowed types inthe editor. Give it a try. But I think the is a full chapter missing there...
At some point (probably here) we add a relation-field to the talk-content type. (See how in the code there is a chapter 14_speaker_p5 and chapter 33 'relations' has no snippet on top to copy the code. @do3cc d

[2015-06-16 00:56] fulv opened #105 "The graph at the end of viewlets_2 does not render"
I see from the old site that there is supposed to be a graph on `viewlets_2.html`:
http://plone-training.readthedocs.org/en/latest/viewlets_2.html

But this does not render, locally, or on training.plone.org.
I'm not sure what dependency is missing.

[2015-06-16 05:55] pbauer commented on #105
@fulv you need to install graphviz (brew install graphviz on mac, sudo apt-get install graphviz on linux):

    WARNING: dot command 'dot' cannot be run (needed for graphviz output), check the graphviz_dot setting

We'll need to update the instruction on how to build the docs locally. But I think more things will need to change when @fredvd starts adding auto-generated screenshots.

[2015-06-16 19:23] fulv commented on #105
@pbauer Thanks, it's working now locally.
@svx graphviz needs to be installed on the training.plone.org box.

[2015-07-02 18:21] fulv opened #109 "graphviz needs to be installed on the training.plone.org box"
See #105.

[2015-07-02 18:21] #105 closed

[2015-07-03 06:20] svx commented on #109
done !

[2015-07-03 06:20] #109 closed

[2015-07-03 06:24] svx commented on #105
graphviz is installed and a new html build [plone5 branch] is pushed to the server, under http://training.plone.org/5/viewlets_2.html I can see now the new 'graphviz image'

[2015-07-03 15:04] fulv commented on #109
Great, thanks!

On Thu, Jul 2, 2015, 11:20 PM sven <notifications@github.com> wrote:

[2015-07-05 03:59] fulv opened #112 "PloneFormGen in Plone5 training"
Currently, after following the instructions on https://github.com/plone/training/blob/master/plone_training_config/instructions.rst, the instance does not start because of PloneFormGen, even though it's using the starzel fork.

Should we leave PloneFormGen out of the training, or do we expect that there will be a Plone5-compatible version?  I could try the 1.8.0-alpha1 version.

Thoughts?

[2015-07-05 16:40] smcmahon commented on #112
1.8.x does target Plone 5. alpha 1 installs and passes all its tests except those involving the quickeditor and GS export/import. I expect it to be beta soon, and hopefully ready to release by October.

[2015-07-07 05:46] fulv commented on #112
Thanks, @smcmahon.  I tried it and it works.
https://github.com/collective/training_buildout/pull/4

[2015-07-11 20:36] fulv opened #113 "How does raw..... work?"
Just curious:  how did you create the endpoint https://raw.githubusercontent.com/plone/training/plone5/plone_training_config.zip?

There is no zip file in the repo, and I could not find any way to download subtrees of a repo like that.

[2015-07-11 20:37] fulv commented on #113
Never mind!  It actually is checked in as a plain zip file.  No magic here.

[2015-07-11 20:37] #113 closed

[2015-07-13 14:49] #112 closed

[2015-07-17 22:23] fulv opened #116 "vagrant-vbguest install"
The `plone_training_config/instructions.rst` page says:

[code]

I have not been able to run this step successfully.  I know it's less important, because everything works without it, but still I would like to understand what is going on.  Also, for unrelated reasons I would like to be able to install the guest additions.

The maddening thing is that I do have nokogiri installed already:

[code]

A

[2015-07-24 07:33] pbauer commented on #116
@fulv sorry, no idea. On my mac the plugins are installed (except for the Window System drivers which in to be expected) and I'm rather clueless regarding ruby.

[2015-07-24 09:02] svx commented on #116
@fulv which version of vagrant and which version of virtualbox do you use ? Also did you run *vagrant plugin update* ?

[2015-07-26 01:07] fulv commented on #116
@svx: I did not, but:

[code]

[2015-07-26 01:19] fulv commented on #116
http://stackoverflow.com/questions/31632693/can-not-install-vagrant-vbguest

[2015-08-04 20:23] fulv opened #118 "Does code in ploneconf.site_sneak take precedence over code examples in sphinx docs?"
I was looking at https://github.com/plone/training/blob/plone5/user_generated_content.rst, and some of the code examples there are slightly different than the code in ploneconf.site_sneak.  I assume that this is the case elsewhere in the sphinx docs, too.  @pbauer, do you have a guideline for the "source of truth" when there are differences?  Or do we have to look at latest commit dates between th

[2015-08-06 11:10] pbauer commented on #118
@fulv the answer is sadly "it depends". The code and the docs should always be ins sync. If they are not it is due to a forgotten commit and the commit dates mitghe help figuring out which is the currently "best" version. If that is not conclusive you have to decide which version is best for teaching and quality.

[2015-08-06 11:10] #118 closed

[2015-08-12 14:30] do3cc commented on #97
Last I heard eea is not yet supporting plone5, because they don't need compatibility. I have provided some patches to make it more compatible, but this is probably still a volunteer only effort

[2015-09-17 23:56] fulv opened #122 "Instructions for Vagrant issue on Windows"
In plone_training_config/instructions.rst there is the sentence:

[code]

But no link to the promised instructions.

[2015-09-21 14:00] pbauer opened #125 "literalinclude not working on training.plone.org"
This repo includes a git-submodule (ploneconf.site_sneak, see the file https://github.com/plone/training/blob/master/.gitignore) which allows us to incude code-examples without habving to keep them in manually in sync if the code changes: ``.. literalinclude:: ploneconf.site_sneak/chapters/final/src/ploneconf/site/browser/speaker.py``

That works on readthedocs but does not on training.plone.org/5

[2015-09-21 14:01] pbauer opened #126 "training.plone.org is not automatically updated when changes are pushed to the repo"
We totally need that.

[2015-09-21 14:36] svx commented on #126
I just send you a reply, I will look into it tomorrow and  the next days, to make sure that gets fixed asap.

[2015-09-21 15:11] svx opened #127 "training.plone.org landig page and more"
To get a bit organised, currently we have a 'landing page' on training.plone.org, should this stay in the future and we add more/other trainings, like theming, javascipt, like the trainings of ploneconf2015 and so on ?

Further on, since still some people use also plone 4 do we want to keep it online ? I guess yes, but I want to get feedback.

I will start the next days to update/rebuild training.

[2015-09-21 18:52] pbauer commented on #127
The landing page should stay there to link to the 4 and 5 versions of the training. We'll hopefully only have one canonical training (for each version) and try to incorporate topics that are not covered yet (theming, javascript). The danger with separate tranings is that they will probably not be kept up to date and slowly die of bit-rot (like the todo-app or hello-world-tutorial did). We still wa

[2015-09-28 18:31] #125 closed

[2015-10-02 02:47] benzolius opened #141 "buildout fails using the system virtualenv on Kubuntu 12.04"
When I use virtualenv from the system in order to create the "py27" virtual environment I got the following error from buildout:

While:
  Installing.
  Loading extensions.
  Getting distribution for 'mr.developer==1.33'.

An internal error occurred due to a bug in either zc.buildout or in a
recipe being used:
Traceback (most recent call last):
  File "/home/training/buildout/eggs/zc.buildout-2.4.

[2015-10-02 06:54] do3cc commented on #141
Maybe a pip --upgrade might have made it work with your system pyenv.
All these wheels to make things work are really flaky and there is not much one can do, apart from knowing which pecularity exists this week.
One improvement could be if we provide a requirements.txt file to make sure pip install the right versions of setuptools, before bootstrapping.

[2015-10-02 09:04] fulv commented on #141
FWIW, I never use the system python on my local dev machine, but
use collective/buildout.python.

On Fri, Oct 2, 2015 at 8:54 AM Patrick Gerken <notifications@github.com>
wrote:

[2015-10-03 01:47] benzolius commented on #141
Thanks for ideas. In fact I could solve it, but I wanted to document the issue.

[2015-10-03 15:00] fulv opened #142 "Can not *start* instance in vagrant, only fg"
If I try ``start``ing the instance installed in vagrant following http://training.plone.org/5/plone_training_config/instructions.html, I get the following error:

[code]

In `fg` it works fine.

So I added the following `import

[code]

[code]

[code]

[2015-10-05 19:43] fulv opened #146 "Buildout on vagrant requires explicit cfg"
If you run `bin/buildout` on vagrant without specifying `-c vagrant.cfg`, you will end up with a broken site, because filestorage and blobstorage paths point to the buildout dir.
@pbauer My question is:  how have you handled this during training?  Did you remind people that if they use vagrant, every time they see `bin/buildout`, they must actually use `bin/buildout -c vagrant.cfg?

[2015-10-08 11:05] gforcada opened #151 "no Makefile?"
Following the instructions for the Javascript training sent over mail I'm trying to run

``make mockup-minimalpattern``

but there is no Makefile around, maybe there's something that needs to be checkout in src?

@thet

[2015-10-08 11:38] thet commented on #151
I've added the Makefile yesterday: https://github.com/collective/training_buildout/blob/master/Makefile
Maybe you don't have an up-to-date buildout?

[2015-10-08 12:16] gforcada commented on #151
The branch (plone5) was behind master. It's already fixed :)

[2015-10-08 12:16] #151 closed

[2015-10-09 08:04] pabo3000 opened #153 "Migration from plone 5.0 to 5.0.1dev0 does not work"
After a git pull on the trianing repo I did the buildout again. But the migration did not work. I will use a new Database.

Zurzeit aktive Konfiguration
5011
Die letzte Konfiguration
5012

Aktualisierungsreport

Starting the migration from version: 5011
End of upgrade path, main migration has finished.
The upgrade path did NOT reach current version.
Migration has failed
Versionsübersicht

Plone 5.

[2015-10-09 20:54] fredvd commented on #153
@pabo3000 I just installed the training buidout and didn't have this problem, but I think @thet fixed this issue by pinning our checkout from Products.CMFPlone to version 5.0 yesterday with 796d35b0d0155da13070140a7c77f491f43e57e0

[2015-10-09 21:07] fredvd commented on #153
Sorry, I was not checking, it's the upgrade that's tripping you up.   @pabo3000 As long as you haven't put any content in there it's ok to throw away the content database monday morning and add a fresh one, then you don't have the migration issue

@thet Do you need the latest revision of Products.CMFPlone for your training?  Because it also means we need to pull in plone.app.upgrade to solve this.

[2015-10-11 21:48] witekdev opened #159 "unfinished sentence in "7. What’s New in Plone 5" section."
http://training.plone.org/5/plone5.html

In the default theme sub-section:
"If you prefer something a different grid-system (like foundation)"

Seems like an unfinished sentence, but I don't understand what the original writer was trying to communicate, so I cannot post a direct fix.

[2015-10-21 15:41] deruosi opened #168 "link to plone_training_config.zip not working in plone4 branch"
In the page: http://training.plone.org/4/plone_training_config/instructions.html the link: https://raw.githubusercontent.com/plone/training/master/plone_training_config.zip does not work (404 error)

[2015-10-21 16:33] pbauer commented on #168
True. The plone5-training is much more up to date and complete. Most of the content is still true for Plone 4. You can try that until I get around to fixing this.

[2015-11-02 02:36] fulv opened #170 "Upgrade to latest Vagrant and VirtualBox"
Currently, on http://training.plone.org/5/plone_training_config/instructions.html#install-virtualbox we say **We use VirtualBox 4.3.x**.

Any objections to updating this to the latest?
- VirtualBox 5.0.8
- Vagrant 1.7.4

Personally, I just upgraded my macbook to El Capitan (10.11.1), and found that none of my vagrants were working anymore.  Doing the upgrades above fixed me.  I bet it's possible t

[2015-11-02 06:36] pbauer commented on #170
:+1:

[2015-11-02 14:27] svx opened #171 "Missing instructions"
http://training.plone.org/5/plone_training_config/instructions.html, tells about instructions for a workaround in windows see picture:
![missing_instructions](https://cloud.githubusercontent.com/assets/358860/10884050/23c7aa0e-8176-11e5-9206-21ff99661630.png)

But where are the instructions ?

[2015-11-10 01:11] fulv opened #172 "More specific instructions for `bower init`"
Under http://training.plone.org/5/theming/theme-package.html#load-less-parts-of-bootstrap, it says `After filling some questions, we have a bower config file called bower.json. `  Some of the questions are not obvious for a first-time `bower` user:

- does the `name` matter?
- does the `main file` matter?
- it asks `what types of modules does this package expose?` (options:  `amd`, `es6`, `globals

[2015-11-10 01:24] fulv opened #173 "tango-compiled.css file does not exist"
I have followed all of http://training.plone.org/5/theming/theme-package.html to the letter, twice, and if the resource registry is not in development mode this error is always logged in the console:

`GET http://localhost:8080/Plone4//++theme++plonetheme.tango/css/tango-compiled.css  404 (Not Found)`

I have built the bundle from the resource registry, as well as with `plone-compile-resources` an

[2015-11-10 09:19] MrTango commented on #172
Yes this is confusing, the most of the questions does not matter, because they are for creating a bower package, and we only need the dependencies here. I think i'll change that step into providing just a basic bower file, which one can copy. I still have it on my list to rewrite a bigger part of the training, soon as i can find a little time for it ;)

[2015-11-10 10:13] davilima6 opened #174 "Broken steps in theme-package.html#css-and-js-resources"
This section tells to register resources twice: once in registry.xml and then again in manifest.cfg inside the implicit Diazo bundle:

* http://training.plone.org/5/theming/theme-package.html#css-and-js-resources

This is wrong and results in duplicate bundles output as seen in plone/Products.CMFPlone#1220.

Trainers, please should choose one way or another and make the difference explicit.

[2015-11-10 10:22] davilima6 commented on #173
This might be related to #174. It seems either your registry.xml or manifest.cfg (or both) defines your tango-compiled.css output to another filename, could you try to locate where it's going in your fs? Also, would you mind pasting the mentioned files?

Also please see plone/Products.CMFPlone#1220 regarding the combination of compiled resources vs devmode vs diazo.

[2015-11-10 16:27] davilima6 commented on #174
/cc @pbauer @fulv @MrTango

[2015-11-10 16:39] MrTango commented on #174
Hi @davilima6, thx for feedback. Actually we decided to rewrite the theming docs to not use the ResourceRegistry anymore. Because for theming it is not needed anymore. We can use the Diazo bundle in the manifest.cfg be now as you are stated and also rebuild the css from the Theming Editor.

This makes the theming docs much simpler and easier to understand.
We will provide a gulp and grunt example

[2015-11-10 16:48] davilima6 commented on #174
Thanks, this is good news! I see that you assigned the issue to me. Would you like me to remove current references to registry.xml so other devs don't get lost in the meantime?

Also I think it'd be valuable to have an "info box" telling readers/trainees that registry.xml is available and useful for some cases, ie: avoid delivering the extra diazo bundle by registering your resources into the plon

[2015-11-10 17:56] fulv commented on #172
@MrTango would you say that the `types of modules this package exposes (amd, es6, globals, node, yui)` don't matter?  In other words, they can all be left unchecked?

[2015-11-10 18:48] fulv commented on #173
I can not find the a css file anywhere in my file system that would result from the compilation of this theme's resources.

I have simply followed http://training.plone.org/5/theming/theme-package.html, so all my files are exactly as they are on that page.  In any case, here they are: https://gist.github.com/fulv/69d4e05a9955e12b1e89

As already discussed elsewhere, this is probably wrong, i.e. us

[2015-11-10 18:51] fulv commented on #174
@MrTango I have tried `plonetheme.tango` without `registry.xml`, but when I go to the theme editor and try to rebuild the css from there, it just hangs (no errors anywhere).

[2015-11-10 18:55] davilima6 commented on #173
@fulv: `./bin/plone-compile-resources` should give you the path where compiled css is, sth like:

[code]
Also look for the file in `Products.CMFPlone/static`. Sometimes mine were being compiled there because of some non-identified misconfiguration.

[2015-11-10 18:57] davilima6 commented on #173
Btw, manifest.cfg does define the implicit "diazo" bundle but since that's not on the configuration registry I guess plone-compile-resource isn't able to reach it.

[2015-11-10 18:58] MrTango commented on #174
@fulv by now it will not work with the Editor rebuild.
That build function was introduced after i started with the registry way.
I think the build button need some changes in the manifest.cfg to work.
But all in all, if you don't need the variables from the registry like the colors, just use a simple Gulp or Grunt setup to build the css files and put it into your theme.
Or have a look into the bar

[2015-11-10 18:59] MrTango commented on #174
@davilima6 i think that was just a mistake, i wannted to mention you and something went wrong ;)

[2015-11-10 19:03] davilima6 commented on #174
This might be related to plone/Products.CMFPlone#1181 and plone/Products.CMFPlone#1136.

@fulv, I'm working with registry.xml only and that seems stable (and imo more flexible/desirable for a packaged theme).

[2015-11-10 19:05] MrTango commented on #174
@davilima6

* Avoid delivering the extra diazo bundle by registering your theme's (or generic addon) resources into the plone or plone-legacy bundles.

Yes, but this way will not work well by now, because then you need to rebuild the bundles in the registry by hand, after you installed your package/theme.

* Being able to deliver some bundle on some views only

Yes, of course the registry is usefu

[2015-11-10 19:09] fulv commented on #173
It does not for me, this is the tail of the `plone-compile-resources` output:

[code]

But you are right, I found it in `Products.CMFPlone/static/tango-bundle-compiled.css` (note the name is different from the specified name).  (I did not catch it earlier because my buildout-cache is not in the buildout root and I didn't follow sylinks).

The question remains:  how to make the theme find the compi

[2015-11-10 19:11] davilima6 commented on #174
@MrTango Np, and if you are short of time please reassign this to me. Let's stop having integrators scratching their heads so much ;)

Re: your last comment I completely agree with both points, that's what I meant with "info box", an <aside>, semantically speaking, or an "admonition note" in docs.plone.org terminology.

[2015-11-10 19:19] davilima6 commented on #173
It's strange that output is more verbose here, maybe it's related to the fact it's not respecting your registry.xml compilation paths. You did reload it after changes, right?

You may pdb on `_generate_gruntfile.py` it to find out why, that's how to make the theme find the css.

Finally I'm not sure an empty value for `last_compilation` is a good idea. Maybe change that to something like yesterday

[2015-11-10 19:25] MrTango commented on #172
yes

[2015-11-11 01:59] #172 closed

[2015-11-23 16:05] davilima6 commented on #174
@MrTango, if you don't mind I'm going to make a PR on this one.

[2015-11-23 17:56] MrTango commented on #174
Go ahead ;)

[2015-11-23 20:29] davilima6 commented on #174
Done! I took the opportunity to update Diazo selectors from XPath to CSS, same as I did here: plone/plonetheme.barceloneta#39. Also fixed a bit which led to duplicated IDs bug, like this: plone/plonetheme.barceloneta#53

[2015-11-24 00:08] #174 closed

[2016-01-15 14:25] jensens opened #178 "mailing list mentioned, should be replaced"
http://training.plone.org/5/add-ons.html#how-to-find-add-ons
here gmane is listed. its should get replaced by community.plone.org

[2016-02-08 11:07] pbauer opened #179 "pdf-build on readthedocs fails"
Some people like to use the pdf available on readthedocs but is was really outdated since the build fails. Anyone knows why? E.g. https://readthedocs.org/projects/plone-training/builds/3708102/

I now removed the pdf-build to stop people from using it. Shoud we add a link to a pdf on http://training.plone.org/5/? If yes: How do we build it?

[2016-02-08 11:24] svx commented on #179
This has todo with unicode and that someting went wrong with copy and paste, you can see that for example in: https://raw.githubusercontent.com/plone/training/master/theming/theme-package.rst, if you check here the part under _Inspect your package source_ you can see that here something went wrong during copy and paste from the bash tree:

[code]

If you check this part in your editor you will see

[2016-02-08 11:26] svx commented on #179
Here is a pic from my editor

![unicode-pt](https://cloud.githubusercontent.com/assets/358860/12884520/24e8d9f4-ce5f-11e5-85fb-430b28bf5f3c.png)

[2016-05-29 15:35] davilima6 opened #184 "Remove <policy name="at_edit_autoversion"/> from dexterity_2.html"
iinm This policy should only be used for AT content types.

[2016-05-29 17:07] pbauer commented on #184
I think, that is not true. plone.app.versioningbehavior checks for the same policy.

[2016-05-29 17:07] #184 closed

[2016-05-29 17:19] davilima6 commented on #184
Indeed, sorry. I was deceived by the `at_` prefix, and also by this title in the [related docs](https://github.com/plone/documentation/blob/5.0/develop/addons/components/genericsetup.rst#repositorytool-xml):

    <policy name="at_edit_autoversion"
            title="Create version on edit (AT objects only)"
            class="Products.CMFEditions.VersionPolicies.ATVersionOnEditPolicy"/>

[2016-07-11 14:32] tkimnguyen opened #186 "update any old PLIP-related links"
to http://docs.plone.org/develop/coredev/docs/plips.html?#how-to-submit-a-plip

[2016-07-18 11:01] tschorr opened #188 "Update Vagrant Build to use Ubuntu 16.04 LTS"
The current Vagrantfile uses Ubuntu 14.04 LTS, but current Ubuntu LTS is 16.04 (Xenial Xerus).

[2016-07-21 15:42] pbauer commented on #186
done

[2016-07-21 15:42] #186 closed

[2016-07-26 14:15] oz123 opened #193 "mastering_plone/buildout_1 - Unclear example"
https://training.plone.org/5/mastering_plone/buildout_1.html#be-mcguyver

The text warns the users about creating too many recipes, and makes a quick mention of
Supervisor without a clear transition to the subject.

Maybe this should be re-formulated.

[2016-07-27 07:40] do3cc commented on #193
I am not understanding completely.
This paragraph is about debugging and how to avoid pitfalls.
The example of the supervisor recipe clearly states what else to use.

One thing I see from your comment, the warning isn't about using creating too many recipes, but about using too many recipes. And I believe by creating too many recipes you actually meant "creating too many sections" So I see how the

[2016-08-09 12:40] staeff opened #196 "Theming chapter: zcml needs some changes to run"
Hi,

sorry I didn't find a good descriptive Headline for this ticket. From what I know and can say everything is still to fuzzy for me to identify the real problem.
I was going to the "Create a Plone theme python package" section of the Theming chapter.

I was running into a problem on with the configure.zcml file. This file that is created by mrbob looks like this: http://pastie.org/10933402
If I

[2016-08-18 07:14] tschorr commented on #188
development in branch https://github.com/plone/training/tree/vagrant_xenial_update

[2016-08-18 07:15] tschorr commented on #188
related issue: https://bugs.launchpad.net/cloud-images/+bug/1602352

[2016-08-18 08:56] svx commented on #188
Currently I would be really carefully if you want to use the 'official Ubuntu 16.04 vagrant box' besides the default user there are also still some other issues, there was even a posting from the Ubuntu Cloud Team, explaining that they working on it, but they are limited resources for the moment.

Using bento [https://github.com/chef/bento] or boxcutter [https://github.com/boxcutter/ubuntu] is may

[2016-08-18 11:02] oz123 opened #198 "Responsive menu is broken on small screen"
The top left "Hamburger" menu doesn't work as expected.

[2016-08-18 16:08] smcmahon commented on #188
Until https://bugs.launchpad.net/ubuntu/+source/python2.7/+bug/1580577 (segfault running large python programs) is fixed in 16.04, I don't want to standardize on Xenial.

[2016-08-18 16:26] svx commented on #188
Also, if we want to do it really right and nice this would mean we should update **all** docs not only the training docs to 16.04.

For the different reasons already mentioned above, we are still waiting with doing that on docs.plone.org.

There is nothing wrong with already start working on a vagrant build based on 16.04, this is **AWESOME** if people doing that !!!!, but using it in 'production'

[2016-08-21 16:04] smcmahon commented on #188
Absolutely! Branch away! Then, when 16.04 gets a fixed Python, we'll be able to get going fast.

[2016-08-23 12:29] tschorr commented on #188
That was the idea :-) I do not intend to put this into production soon. Development will continue on the `vagrant_xenial_update` branch. So far the only difference from master is a slightly modified Vagrantfile using the `bento/ubuntu-16.04` base image. Provisioning a training box from the development branch works for me, but definitely needs more testing. Meanwhile I think it is good to have the

[2016-08-30 09:54] svx opened #200 "presentation builder"
It seems I am more stupid than usual, I am not able to find the builder for *make presentation*.

I can find the make option for that

[code]
And I can find the docs:

https://training.plone.org/5/mastering_plone/about_mastering.html#using-the-documentation-for-a-training

But I can't find anything about the setup, nothing in *conf.py* or somewhere else.

[2016-08-30 10:21] pbauer commented on #200
`make presentation` works for me. I think it is defined in Makefile.

[2016-08-30 10:29] svx commented on #200
@pbauer I am not saying it is not working :)

I can also see the function in the makefile, but I can't find where the builder is coming from, *presentation* is not a default sphinx builder :)

[2016-08-30 14:57] svx commented on #200
Never mind, found it, anyway in the meantime I setup my own solution.

[2016-08-30 14:57] #200 closed

[2016-09-18 08:43] jean opened #209 "Pygments lexer strictness"
We sometimes lose syntax highlighting because pygments fails to parse the block.
Sometimes this is quite right, but sometimes it is overly strict.
This is especially noticeable for CFG files, where line breaks and comments confuse pygments.
I fixed some but these remain:

[code]

In the following, the red highlights things that make pygments fail:

![css-failing](https://cloud.githubusercontent.co

[2016-10-18 21:36] tkimnguyen opened #228 "include a link to "Docs for Integrators" training class"
...at https://testthedocs.org/training/basic/index.html @svx

[2016-10-18 21:37] tkimnguyen opened #229 "include a link to Advanced Python #ploneconf2016 training class"
...at https://github.com/oz123/advanced_python  ?

[2016-10-21 00:30] allnode opened #230 "Changes made to python code in database resource directory"
After making changes to some python code within a function foo(a, b, c) that resides in my database resource directory (ZMI), the changes do not take effect when I make calls to foo.  It appears that the old foo code is cached and remains active.  I have tried refresh the database to no avail. How do I make the new code take effect?

[2016-10-21 00:47] allnode commented on #230
I found my own answer by looking at this issue https://github.com/plomino/Plomino/issues/111  Thanks.

[2016-10-21 13:34] #230 closed

[2016-11-05 15:41] tkimnguyen opened #233 "add a global search to training.plone.org?"
Currently there is no search feature at the top level of the new training.plone.org...

[2016-11-05 21:33] tkimnguyen opened #234 "isn't API part of Plone 5?"
Is this still correct? https://github.com/plone/training/blob/43ec3c695129371f994c8b9c667077bad7213765/mastering_plone/api.rst#L33 "plone.api is not yet part of the Plone core. Therefore you will not see any use of plone.api in Plone itself. It will be part of Plone 5."

[2016-11-05 22:52] gforcada commented on #234
Sort of, it's part of Plone core, i.e. is part of Plone when you install it, but Plone core does not use it (to avoid circular dependencies).

If we want the core to use it we have to either copy all the code that plone.api depends on in itself, or make that in each case by case a circular dependency is not introduced (which is really difficult given Python's dynamic nature).

It's more a tool for

[2016-11-06 13:06] macagua opened #236 "What is the Plone 4 training Branch?"
Hi @do3cc @pbauer

I need updated some translation for Plone 4 training...

Then I have a question:

What is the Plone 4 training Branch?

Maybe could be the following: https://github.com/plone/training/tree/plone4

Thanks you!

[2016-11-10 11:52] stevepiercy opened #237 "How to get started for contributing?"
I'd like to help on improving the training docs, but there are no instructions in this repo for getting started, including (but not limited to):

1. [x] [How to contribute](https://github.com/blog/1184-contributing-guidelines) See #238
1. [x] Installation requirements
1. [x] How to build the docs and verify locally before making a PR

Perhaps some stuff from [Pyramid](https://github.com/Pylons/pyr

[2016-11-10 12:19] gforcada commented on #237
@stevepiercy thanks for stepping up and wanting to help on this really important subject!!

For 2 and 3, although a bit hidden, if you do what ``.travis.yml`` is doing you should be able to run the tests and thus verify that you have a working copy.

For 1 sending pull requests or adding issues is probably enough, for Plone core we do have some guidelines.

The training team meets every now and th

[2016-11-10 20:40] stevepiercy commented on #237
I signed the contributor agreement at PloneConf Boston for all things Plone, so I'm covered.

For 1, I found this https://training.plone.org/about/ I would like to avoid duplicating content. Yet having a `contributing.md` is helpful for folks who use GitHub as an entry point, and informs contributors of what is required. How does this sound: add `contributing.md` with the content:

For 2 and 3 I c

[2016-11-10 20:48] stevepiercy opened #240 "Fix Travis-CI builds"
I have no clue how to fix this:
https://travis-ci.org/plone/training/builds/174755889#L243

[code]

[2016-11-11 07:10] svx commented on #240
@stevepiercy you can't .
This is an issue with Travis itself, this happens every time if there is/was an openssl/libressl update.

Usually it takes a couple of days, till Travis updates to their container images.
This is really annoying and this is one of the reasons why I want to switch CI away from Travis.

[2016-11-11 08:44] stevepiercy commented on #237
For 2 and 3, I did the following, but got stuck when the error appeared. I think I need an assist to install pyenchant (or enchant) and whatever else it needs.

[code]

If I comment out anything to do with spelling in `conf.py`, then I can build the docs.

[2016-11-11 08:49] stevepiercy commented on #240
@svx if this is being discussed elsewhere, then feel free to close this issue.

If not, then what are some options?

[2016-11-11 11:23] svx commented on #240
The easiest one would be to change from openssl to gpg.

Thing is, I am busy working on setup2.0 for training and docs and with setup2 we will use a completely different approach of testing and deploying, so I personally prefer to focus currently on setup2.0 if someone else would like to fix this issue, awesome please do ! :)

[2016-11-11 11:57] svx commented on #237
You need to install enchant on your OS, looking at your output, it seems to me that your work on macOS ?

So you could use Homebrew and do:

[code]

or you could use nixpkgs, run it in a container, compile it, or something else :)

Personally I do not install sphinx on my systems anymore, I use you mr.docs [https://mrdocs.readthedocs.io/en/latest/] which is written for docs.plone.org so it/he may

[2016-11-11 18:22] stevepiercy commented on #240
@svx that sounds like a good plan. Where is setup2.0? I can be a test subject or contribute.

[2016-11-11 19:24] stevepiercy commented on #237
I use homebrew on Mac OS X. Installed via `brew install enchant`:

[code]

But I still get the same error message. I wonder if I installed it via some other method many years ago, like macports, based on this line:

[code]

I don't know how to troubleshoot this further.

Other options are not available to me on this ancient Mac OS X 10.8.5, so I might have to set this aside until I get a new Mac d

[2016-11-11 20:24] gforcada commented on #237
@stevepiercy you can comment out the spelling bits and go on. As long as you create pull requests for all the changes, travis already runs all the checks, so you should be covered there.

Don't make some spelling libraries prevent you to contribute!

[2016-11-13 14:58] tkimnguyen commented on #234
Ah thanks for clarifying, @gforcada ! Perhaps I will reword that section a bit then.

[2016-11-13 14:58] #234 closed

[2016-11-14 08:28] pbauer commented on #237
@stevepiercy sorry for being late to the party. https://training.plone.org/5/mastering_plone/about_mastering.html#building-the-documentation-locally explains how to build the trainings locally.

Regarding enchant I think you need to create the virualenv and run `pip install -r requirement.txt` **after** installing enchant so that pyenchant can pick it up. Anyway I rarely use `make test` myself and

[2016-11-14 11:04] stevepiercy commented on #237
D'oh! I just had to read the docs to learn how to build the docs. Thank you!

FTR, I was looking at the root of the repo only to figure out how to build the docs. I assumed that a file at the root is standard practice, based on my experience with projects under the Pylons Project. Would it be appropriate to include a `HACKING` or a mention in the README of where to look to build the docs locally?

[2016-11-14 11:41] pbauer commented on #237
The location for the info is due to the historic growt of the project (in the beginning there was only the mastering-plone training in the root and then god created subfolders for other trainings...).
A pull-request would be great. My enchant (Mac Os 10.11.6 with homebrew) works nicely. Simply skip the spelling-stuff.

[2016-11-14 12:11] svx commented on #237
If we are talking about it already, it would be nice then to follow our own style guide :) So, please do not create something like 'hacking' create a directory called docs and put it there.

The following step would be to tell sphinx to ignore this directory.

[2016-11-14 12:23] stevepiercy commented on #237
@pbauer OK, thanks for the reassurance. Hopefully I can migrate off this old 10.8.5 laptop this weekend to my shiny new 10.11 iMac.

@svx in this case, since it is already documented as @pbauer pointed out, would a link to the relevant passage in the docs added in the `README.rst` be appropriate? I always read a README before hacking. But some projects want to keep minimalist README. FWIW I would

[2016-11-14 12:27] svx commented on #237
The way how it should be:

- Update README to follow our official style guide [yes, this includes a link to docs/building, or how you call the file.

As simple as that :)

[2016-11-14 12:32] stevepiercy commented on #237
Hey, I'm getting the hang of this Plone community! :)

PR coming.

[2016-11-14 20:49] stevepiercy opened #243 "Fix Sphinx Warnings - WARNING: document isn't included in any toctree"
I'd like to fix these warnings, but wanted to check first with the authors whether they should be included in the TOC of each `index.rst`.

It appears that a lot of these files are in various stages of draft or abandonment. IMO, the master branch should be deployable and contain no drafts.

[code]

[2016-11-15 13:55] #237 closed

[2016-11-26 10:31] stevepiercy opened #247 "Master Plone Training inconsistencies with UI"
Under https://training.plone.org/5/mastering_plone/features.html#users when adding a new user, there are inconsistencies between what the docs state and the Plone UI.

and

![Add to the following groups:](https://cloud.githubusercontent.com/assets/102112/20639703/bf9c4cfa-b37f-11e6-9af8-d9d31b7f7960.png)

There are two different admin groups and one Reviewer group.

To which admin group should one

[2016-11-27 03:31] fulv commented on #247
Groups and roles are not the same thing.  The UI shown in the registration
form (the screenshot you pasted) shows the groups that Plone comes with out
of the box.  Whereas the training refers to roles.
The three groups you see just happen to have the same names as three of the
available roles.

On Sat, Nov 26, 2016 at 2:31 AM Steve Piercy <notifications@github.com>
wrote:

[2016-11-27 09:17] stevepiercy commented on #247
OK, thanks for the clarification. I'll add some stuff to the training instructions to clarify the steps in a PR. Groups appear when creating the user, and roles appear only after creating the first user.

[2016-11-27 09:17] #247 closed

[2016-11-29 18:52] macagua commented on #236
The branch is plone4

[2016-11-29 18:52] #236 closed

[2016-12-05 17:41] tkimnguyen opened #249 "outdated points in features.rst?"
mastering_plone/features.rst contains two items I wonder might be obsolete now:

- "explain Topics"

- "Workflow Policy support is not yet available for folderish contenttypes created via Dexterity. This is on the way."

[2016-12-05 20:12] gforcada commented on #249
Topics could go I think, we only have collections now. Regarding the other one I'm not so sure.

[2016-12-12 19:53] tkimnguyen commented on #249
@pbauer is workflow policy support now working for folderish Dexterity CTs?

[2017-03-07 13:30] tkimnguyen opened #252 "add tutorial on plone.app.discussion"
...as per https://community.plone.org/t/forum-board-extension-for-plone/3619/3 and https://github.com/plone/documentation/issues/794

[2017-03-07 14:42] svx opened #253 "Proposal: Restructure Training Docs"
Once a long time ago @pbauer, @Gomez and @do3cc started with the awesome Mastering Plone Training, since then more and more people jumped in extended material and contributed more awesome trainings.

This is really, really cool, **thanks to everyone!**

But, yes a but :), sorry for that :)
With all the nice change and additions the structure and the way how the docs are written and ordered changed

[2017-03-10 18:08] MrTango commented on #252
+1 for putting this into the training. We should put it probably into a separate tutorials section.
Because it does not belong to any of the trainings. So a lose collection of tutorial would be probably better.

[2017-03-10 18:09] MrTango commented on #252
@pbauer what do you thing about this^^ should we crate a tutorial section in the trainings or maybe separate it into a tutorials repo?

[2017-03-10 18:13] svx commented on #252
@MrTango I thought about that, meaning a own repo for tutorials, too.

Pro
===

- Nice, clean own infra, we could even include the video idea from @pigeonflight and lots of existing videos

Con
====
- One more repo :)
- Could get confusing for user ? Well maybe not.

[2017-03-10 18:30] MrTango commented on #252
I don't thing that it would be confusing, if we make it clear what is for what.
And link the different parts correctly.

[2017-03-10 18:35] svx commented on #252
OK, then I'll create the repo and do the setup of sphinx, tests and so on...

@tkimnguyen would you mind to mail me the original pictures if you still have them ?

Thanks !

[2017-03-10 18:51] MrTango commented on #252
maybe wait for @pbauer and others, what they have to say about it.

[2017-03-11 04:52] tkimnguyen commented on #253
You're the docs genius... lead on!

[2017-03-11 04:55] tkimnguyen commented on #252
Yup I'll email you the photos. Let me know where I should start this, though yeah wait for @pbauer et al to chime in.

[2017-03-20 00:59] tkimnguyen opened #254 "need to synch installation instructions"
https://training.plone.org/5/mastering_plone/installation.html needs to match docs.plone.org and plone.org/download as per https://github.com/plone/documentation/issues/807 https://github.com/plone/ploneorg.core/issues/208 and https://github.com/plone/simple-plone-buildout/

[2017-03-20 01:00] tkimnguyen commented on #254
e.g. in https://training.plone.org/5/mastering_plone/installation.html we do not actually have a VirtualBox appliance on https://plone.org/download

[2017-03-20 01:02] tkimnguyen commented on #254
Need to ensure all hosting info is still valid, e.g. link to a Codio.com blog post by @pigeonflight [http://blog.dbain.com/2014/04/install-plone-in-under-5-minutes-on.html]

[2017-03-20 01:02] tkimnguyen commented on #254
In fact a lot of this info here is better than what we have on plone.org and docs.plone.org :)

[2017-03-20 10:12] gforcada commented on #254
Let's all point here then. In fact, the training docs are probably the ones that at least once a year are really taken care of to be up-to-date...

[2017-03-20 14:27] tkimnguyen commented on #254
IMO install docs should defer to what the installers each say. e.g. unified installer will do more handling of requirements so less to do for users, so we should not overburden users with extra info they will never need to know. On the plone.org/download page yesterday I adjusted it to have some generic text and a link to docs.plone.org but I'm rethinking that.

[code]

[2017-03-22 15:21] pbauer commented on #253
@svx sounds very reasonable.

[2017-04-30 15:33] gforcada opened #257 "Misleading tagline"
Right now (30-4-2017) when one gets on training.plone.org below the "Plone trainings" header there is a line saying:

**Plone training events are a great way to expand your skills. Plus it's a excellent way to meet the community.**

This gives the feeling that if it's you are not in a training event you should not look at the training materials listed below.

Is that the feeling we want to give to

[2017-04-30 15:33] gforcada opened #755 "Misleading tagline"
Right now (30-4-2017) when one gets on training.plone.org below the "Plone trainings" header there is a line saying:

**Plone training events are a great way to expand your skills. Plus it's a excellent way to meet the community.**

This gives the feeling that if it's you are not in a training event you should not look at the training materials listed below.

Is that the feeling we want to give to

[2017-04-30 15:52] gforcada opened #258 "Split mastering plone training into 2?"
At least visually, or somehow make the 46 chapters in https://training.plone.org/5/mastering_plone/index.html#mastering-plone-label be somewhat *hidden* to feel less intimidating?

At the very top it already says that 1-18 are the beginners training while the others are the advanced.

So maybe if we want to keep it in a single training, put a top-level "Beginners training" and "Advanced training"

[2017-05-02 07:38] tdkuehnel opened #259 "Adapt part of Plone5 documentation to unified installer use case"
In the post
[https://community.plone.org/t/documentation-issue-create-a-plone-5-theme-product-addon/4078](https://community.plone.org/t/documentation-issue-create-a-plone-5-theme-product-addon/4078)
is a discussion about following the docs at
[https://docs.plone.org/adapt-and-extend/theming/theme_product.html](https://docs.plone.org/adapt-and-extend/theming/theme_product.html)
coming from a fresh

[2017-05-02 17:36] tkimnguyen commented on #259
thx @tdkuehnel - could you indicate here in subsequent comments which portions of the documentation need fixing/editing or new text (and in the case of new text, what that text should be)?

[2017-05-15 13:28] rfleschenberg opened #260 "Do not run pip as root"
https://training.plone.org/5/theming/theme-package.html#install-buildout-and-boostrap-your-development-environment

`sudo pip install` is almost always bad. Can we tell users to use a virtualenv here instead, as we do for mrbob? Or is there a reason why we want to install buildout globally?

[2017-05-15 13:33] rfleschenberg commented on #260
Ah sorry, I just realized this is probably the wrong repo? Please close if that's the case.

[2017-05-30 18:52] stevepiercy opened #262 "Download and prepare a static theme instructions not quite right"
From:
https://training.plone.org/5/theming/theme-package.html#download-and-prepare-a-static-theme

When I extract it into the `theme` folder, my structure is different, where there is a folder within the `theme` folder, `startbootstrap-business-casual-gh-pages`. Am I supposed to move only a few files from `startbootstrap-business-casual-gh-pages` into `theme`?

Instead I followed [these instructio

[2017-06-02 00:58] #260 closed

[2017-07-02 13:04] ebrehault opened #269 "HTML Syntax highlighting broken with Angular templates"
I have noticed ``.. code-block:: html`` does not produce any highlight if the code contains Angular specific syntax like '*', '[' or ']'.
For instance in this page https://github.com/plone/training/blob/angular/mastering_plone/angular.rst, we have this:
```<li *ngFor="let link of links" [ngClass]="{'active': link.active}">```
And the entire block is not highlighted in the HTML output produced by S

[2017-07-02 18:31] stevepiercy commented on #269
Perhaps the [Angular2HtmlLexer](http://pygments.org/docs/lexers/#pygments.lexers.templates.Angular2HtmlLexer) lexer will do the trick?

There is also [ScssLexer](http://pygments.org/docs/lexers/#pygments.lexers.css.ScssLexer) lexer, which is probably more appropriate than the CSS lexer in use.

[2017-07-02 18:41] ebrehault commented on #269
Thanks Steve, I will give it a try.

[2017-07-02 19:07] ebrehault commented on #269
@stevepiercy it works great with `scss`, but not with `html+ng2` (for Angular templates) or with `typescript` (instead of javascript). Is there anything special I must do in order to enable a lexer?

[2017-07-02 22:59] stevepiercy commented on #269
@ebrehault Pygments must be ≥ v.2.0 for `html+ng2`. Sometimes the version of Sphinx does not pull in the latest Pygments. Or the stylesheet might not have the classes to apply on the rendered markup.

I grabbed your code above and put it into a [Pygments demo](http://pygments.org/demo/6628238/?style=monokai). You might need to tweak the stylesheet to control colors from the rendered markup, shown

[2017-08-07 19:19] macagua opened #273 "Enable Spanish translation for Plone Training from the ReadTheDocs versions"
Hi @pbauer @do3cc

The Spanish translation for Plone 4 Training [0] is done and at the moment I have [49% of the translation done](https://www.transifex.com/plone/plone5-training/languages/) of the Plone 5 training.

Then I would like to add the Spanish language as a link to consult from the Plone 4 Training / Plone 5 Training main page documentation at ReadTheDocs.

Please can enable the Spanish

[2017-08-15 11:35] svx opened #274 "Question: Opsworks Chef 12"
@alecpm

I am busy with updating the training docs, is the following still valid ?

Thanks a lot !!!

[2017-08-18 08:52] svx opened #275 "Licensing of trainings"
Hey,

question @pbauer @polyester currently we do not have one.
Which one we should use ?

[2017-08-18 08:57] svx opened #276 "Template boilerplate and generator"
This is a reminder for myself !

Create a cookiecutter or something else to make it easier for people to get started with writing new trainings.

It should do something like:

- base structure setup
-> conf.py for new trainings
-> directory layout and creation
-> glossary
-> about
-> tests
-> ...

[2017-08-18 09:23] pbauer commented on #275
We do: https://training.plone.org/5/mastering_plone/about_mastering.html#license

[2017-08-18 09:30] svx commented on #275
Ak ok, sorry for the noise, I did not checked the sub dir :)

Closing now !

Thanks !

[2017-08-18 09:30] #275 closed

[2017-08-21 11:31] svx commented on #276
done ! https://github.com/testthedocs/cookiecutter-plone-training

[2017-08-21 11:31] #276 closed

[2017-08-22 13:06] svx opened #277 "Issue with presentation vs no-presentation mode"
There is currently an issue with the following settings:

[code]

and

[code]

These do not allow you to use code-blocks, which leads to the result that some parts of the docs, which are build with Sphinx for the user or website does not have working lexer, which results to some kind of inconsistency through the docs.

Which may be less important for the 'presenter mode' but which is less ideal fo

[2017-08-22 13:12] pbauer commented on #277
What is wrong with them? They seem to work fine in https://training.plone.org/5/mastering_plone/buildout_1.html

[2017-08-22 13:16] svx commented on #188
ping @tschorr what is the status of this ? :)

[2017-08-22 13:20] svx commented on #258
It gets even better :) currently some of the documents is a chapter are really really long :)

I am facing that currently with some parts, documents with more than 1000 lines are not ideal :)

I try some stuff to see what is a good and sane way to split these the long documents.

[2017-08-22 13:29] svx commented on #269
@ebrehault Works for me OOTB, with:

[code]

Gives me the result:

![angular-lexer](https://user-images.githubusercontent.com/358860/29567824-a8562c52-874e-11e7-8c32-87d29293e049.png)

[2017-08-22 13:44] svx commented on #277
Fixed !
Sorry for the noise, the problem was again, that some people check reST against pep8 and what ever and because of this I had to hunt down the 'error' in the syntax, introduced by I guess pep8 or what ever auto-correction. ....

So yeah I used pandoc to transform the created HTML to markdown, run some linter, transform it to reST run some more other linter, correct the last small things fro

[2017-08-22 13:44] #277 closed

[2017-08-22 17:41] ebrehault commented on #269
cool, thanks :)

[2017-08-22 17:41] #269 closed

[2017-09-07 18:28] jean opened #278 "No matching distribution found for pkg-resources==0.0.0 (new_structure branch)"
https://github.com/plone/training/blob/dd213586dcf8fc4b6e7920967c4558dc6afce202/requirements.txt#L10

[code]

[2017-09-07 18:32] jean commented on #278
https://stackoverflow.com/a/40167445

[2017-09-07 18:49] pbauer commented on #278
removed it.

[2017-09-07 18:49] #278 closed

[2017-10-01 04:10] alecpm commented on #274
Yes it is. I’m planning to try out the new Chef 12 infrastructure (which is radically different from the original OpsWorks Stack implementation in that it uses Chef Server rather than Chef Solo) in the next couple months. It looks like running Plone 5.1 will probably require making that shift, since it requires a newer python version than the one included with Trusty.

[2017-10-04 09:26] fulv opened #280 "Error with ng --build"
@ebrehault
When I ran `ng build --prod` I got this error:

[code]

Doing `ng build --env=prod` instead, fixed it for me.

I didn't do any of the version upgrades recommended in https://stackoverflow.com/questions/42718095/module-not-found-error-cant-resolve-gendir-app-app-module-ngfactory, though they might be a good idea.

I have `"@angular/cli": "1.2.3"`, for what it's worth.

[2017-10-04 09:28] ebrehault commented on #280
`--prod` and `--env=prod` are different (the first one makes AoT compilation, the second one doesn't)

I will have look

[2017-10-08 05:50] svx opened #287 "[Matering Plone] Out of Date Info about Heroku"
# Training
Mastering Plone

## Part
Installation/Hosting on with Heroku

### Description
Currently there is *only* the usage of heroku buildpacks mentioned, this is outdated.

Since a couple of weeks Heroku has native Docker support, meaning you can run Plone in a Docker container on Heroku.

You can push your own or even easier you can pull the 'official' Plone Docker container straight from Dock

[2017-10-08 09:18] jean opened #288 "mastering-plone/dexterity.rst vs ttw/dexterity.rst"
These two are same-same-but-different. Can we pick one?

[2017-10-08 09:39] jean opened #290 "How will we handle invalid JSON snippets?"
In `angular.rst` we have

[code]

That generates a warning and doesn't highlight.

This works, but it's less clear about how this snippet fits into the target file, by implying that `scripts` has no siblings and `update-backend` has only one key:

[code]

For a short snippet like that, maybe silencing the warning in that specific case would make sense. Is there a better way?

[2017-10-08 09:44] svx commented on #290
Related to: https://github.com/plone/training/pull/285.

[2017-10-08 18:50] fulv commented on #290
In this particular case, I think it would make sense to use `.. code-block:: js`, instead of `json`.  And for snippets of JSON this might be a good enough workaround, since there probably isn't any text that needs to be highlighted, anyway.

Perhaps `.. code-block:: json` makes sense when you are using complete json data structures, and you want to lean on the strict checks to ensure you didn't me

[2017-10-11 11:27] pbauer commented on #288
The one in ttw used to be a symlink to the one in master-plone.
Unless you want to do some more edits I suggest you copy the content form mastering-plone and change the labels.

[2017-10-11 13:49] stevepiercy opened #298 "Installation of Plone 5.1rc1 for PloneConf Training"
From an email for the Mastering Plone 5 training:

That's not entirely correct. One should first review the [requirements](https://docs.plone.org/manage/installing/requirements.html), then jump into installation. Also these instructions do not adequately cover installation via buildout, which @pbauer suggested.

Here's a quick cheat sheet to get started.

1. Create a directory to hold your Plone t

[2017-10-11 14:10] fulv commented on #298
I would add to step 3 that Plone 5.1xx requires Python 2.7.9 or higher.  It
would be good to point to instructions for how to update Python because I
pretty much hosed an entire Ubuntu 14.04 machine, which comes with 2.7.6.

On Wed, Oct 11, 2017 at 3:50 PM Steve Piercy <notifications@github.com>
wrote:

[2017-10-11 15:38] stevepiercy commented on #298
Meh, I goofed. There was a link on the instructions to [official installation instructions](https://docs.plone.org/manage/installing/installation.html), which I then followed.  I got sidetracked there.

Second time, I followed the [correct procedure](https://training.plone.org/5/plone_training_config/instructions.html). This time the correct version of setuptools is installed, but it looks like I

[2017-10-11 15:49] stevepiercy commented on #298
I used PyCharm's tools to downgrade setuptools to 33.1.1, and started installing with `./bin/buildout`. I'll check in when it's done, but I think this could affect other users.

[2017-10-11 16:51] pbauer commented on #298
bootstrap is indeed deprecated. I updated the instruction to use `pip install -r requirements.txt`. Can you try again with a fresh virtualenv and this and tell me if it worked for you?

[2017-10-11 16:55] pbauer commented on #298
Since installation can be tricky because of dependencies, python-installations and such it says at the beginning of the instruction "If you are not used to running Plone on your laptop skip this part and continue with Install VirtualBox." I still recommend trying to get it to run locally since switching between vagrant foir debugging and running and the host system for editing can be pretty confus

[2017-10-11 19:04] stevepiercy commented on #298
One more fatal error:

[code]

I then installed libyaml via `brew install libyaml` for macOS 10.12.6, and ran again `./bin/buildout`, and there were no errors this time, but I don't know if that actually fixed it.

[2017-10-11 19:10] stevepiercy commented on #298
And one more issue, the docs say to run the following command, but...

[code]

Other than that, I was able to get Plone to run with `./bin/instance fg`, although there were several deprecation warnings mixed in with the `INFO Zope Ready to handle requests` message.

[code]

[2017-10-11 19:16] stevepiercy commented on #298
@pbauer I prefer not using Vagrant, too. But it looks like the [requirements.txt file is not pushed to the repo](https://github.com/collective/training_buildout), at least on the master branch.

If you like, I can run through again with a clean install to make sure all the changes and installation of PyYAML works correctly.

[2017-10-11 19:19] pbauer commented on #298
You are right, I commited but somehow forgot to push. I did it now.

[2017-10-11 19:59] stevepiercy commented on #298
Got it.

I wiped it clean, and started from scratch, this time with libyaml installed. However, I had to adjust the path:

[code]

The last line should be:

[code]

[2017-10-11 20:14] stevepiercy commented on #298
The fatal pyyaml message is now gone, and replaced with a buttload of warnings. Here's just the first:

[code]

And the deprecation warnings are fewer upon startup of `./bin/instance fg`.

So the remaining items here are to update the docs to:

1. use the correct path to buildout
2. mention an optional installation of libyaml

[2017-10-12 06:56] pbauer commented on #298
I changed the parts you mentioned. I also changed it to crate the virtualenv in `.` which is what we usually do anyway. I also use macOS 10.12 and do not have the problem you describe with yaml. But I added a short section about dependencies you need to install with homebrew.

[2017-10-13 08:04] stevepiercy commented on #298
Confirmed, and thank you! All is well. Closing issue.

[2017-10-13 08:04] #298 closed

[2017-10-16 12:13] svx commented on #257
@gforcada do you have a suggestion for a other/new/better title ?

[2017-10-16 14:03] tschorr opened #314 "git tag for views_1 is missing"
The "Views I" chapter in Mastering Plone Development tells you to `git checkout views_1`, but there is no tag with that name in https://github.com/collective/ploneconf.site.git

[2017-11-25 11:55] imjog commented on #178
Hi @jensens i would like to work on this issue. can i take this?

[2017-11-25 11:59] jensens commented on #178
Sure! Since I am not that deep in the training docs I would prefer @pbauer or someone else from the training team to give more guidance.

[2017-11-25 12:16] pbauer commented on #178
That has been fixes for some time now. See https://training.plone.org/5/mastering-plone/add-ons.html#how-to-find-add-ons

[2017-11-25 12:16] #178 closed

[2018-01-22 16:51] ionutgrigorescu opened #321 "relations tag is missing"
As per [Using the code for the training->Tags](https://training.plone.org/5/mastering-plone/code.html#tags) the _relations_ tag should be available, however it is missing:
`[ploneconf.site]$ git tag`
behaviors_1
dexterity_2
dexterity_3
eggs1
events
export_code
frontpage
registry
resources
restapi
testing
user_generated_content
viewlets_1
views_2
views_3
zpt
zpt_2

[2018-06-29 21:08] idgserpro opened #328 "Is to_path efficiency note correct?"
In [Accessing and displaying related items](https://github.com/plone/training/blob/e235e8031dd6b68eba3dd52fe47a32afc0bcbae5/mastering-plone/relations.rst#accessing-and-displaying-related-items), it says:

Is that really correct? I see that [to_path calls to_object](https://github.com/zopefoundation/z3c.relationfield/blob/254bd1980c78a539b4db773cc9d241a0a1833d82/src/z3c/relationfield/relation.py#L4

[2018-06-29 21:09] idgserpro commented on #328
@pbauer FYI.

[2018-07-24 10:12] jensens opened #329 "Broken link to Content Management on live https://training.plone.org/"

[2018-08-21 14:04] idgserpro commented on #328
@pbauer can you check this? I can confirm that using to_path is worse than using to_object.

[2018-08-21 15:16] pbauer commented on #328
Thanks for the feedback. Would you like to cerate a pull-request for this chapter?

[2018-08-21 15:40] idgserpro commented on #328
@pbauer I'm out of time now. But I think that example would be better:

https://github.com/plone/plone.app.dexterity/blob/82bba1e369d7a2678f358b7ffa2b9fc873429afc/docs/advanced/references.rst#back-references

[2018-10-16 07:18] tisto opened #333 "Make build"
I just tried to build this training for the first time and I somehow expected that "make" would just build everything for me.

Creating a virtualenv and installing the requirements.txt is straightforward. Though, what is the reason for having to install sphinx-build globally?

Maybe we can add a "make build" that is run by default so this becomes a no-brainer for newbies. Optinions?

[2018-10-19 02:03] ajayns commented on #333
I'm still a bit confused about the development setup process for this. Is there any docs available or a straightforward script I can just use directly?

[2018-10-19 09:01] stevepiercy commented on #333
@pbauer should the Python version be bumped here to 3.7?
https://training.plone.org/5/mastering-plone/about_mastering.html#build-new

Note that if you don't have the latest Python 2.7.15, then you will have a problem installing `sphinxcontrib-spelling` and its dependency `pbr`. macOS 10.12.6 uses an old janky Python 2.7.10, and I forgot to use my 2.7.15 in my pyenv, which led to the error below. U

[2018-10-19 09:03] stevepiercy commented on #333
@tisto I did not have to install Sphinx globally. Where do you see that in the docs?

[2018-10-23 09:57] svx opened #338 "Add links on how to write training/docs"
Add links to our style-guides, about `rst`, `wording` and writing in general.

It people would know that and read before they start writing, this would make things easier for writing and reviewing.

[2018-10-23 10:11] svx commented on #333
IMHO we could remove sphinx-contrib spelling there are better tools these days, which you can hook up with/including testing against all your style-guides, for example vale or textlint.

Both of them are also way faster.

But for doing so we need the training docs (like the normal docs) to be in a better state :)

Speaking about the install/setup, I guess it depends on your own need/usage ?

I hav

[2018-10-24 07:19] tschorr opened #340 "Uploads to dist.plone.org for 5.1.4"
If we want to use Plone 5.1.4 for the training, somebody with write access to dist.plone.org needs to upload a `requirements.txt` and the buildout-cache tarball:

http://dist.plone.org/release/5.1.4/requirements.txt
http://dist.plone.org/release/5.1.4/buildout-cache.tar.bz2

These files are needed for the Vagrant setup.

[2018-10-24 11:49] tschorr commented on #340
@svx fine thx I'll prepare them for tomorrow. The buildout cache tarball is going to be ~60M in size. I intend to provide it in a gist, are you OK with that?

[2018-10-24 11:52] svx commented on #340
As far as I can "just" pick stuff (download) and upload I am fine with what ever works for you :)

[2018-10-25 11:35] svx commented on #340
@tschorr there is already a requirements.txt in /release/5.1.4 should we do something like /release/5.1.4/training and put the file there ? or maybe /release/training ?

[2018-10-25 12:35] svx commented on #340
@tschorr ok so for now only the buildout-cache, right ?

[2018-10-25 12:37] svx commented on #340
done !

[2018-10-25 13:01] tschorr commented on #340
@svx I tried and it worked once but now I see again a 404 when I try to open http://dist.plone.org/release/5.1.4/buildout-cache.tar.bz2

[2018-10-25 13:06] svx commented on #340
The file is on the machine, but it looks like there is something with the box. It is working but super slow.

Looks like something with the machine, nothing I can do about :(

I only can offer to upload to archive.plone.org

[2018-10-25 13:28] pbauer commented on #340
@esteele: any idea what might be wrong?

[2018-10-25 14:28] esteele commented on #340
I can see the files and downloads are a bit slow for me, but not horribly so.

[2018-10-25 15:10] tschorr commented on #340
Everything works as expected now. Thanks everybody!

[2018-10-25 15:10] #340 closed

[2018-10-26 09:28] pnicolli opened #344 "Javascript training has outdated setup infos"
The JavaScript for Plone Developers training [setup section](https://training.plone.org/5/javascript/training-installation.html) has a link to a [training buildout](https://github.com/collective/training_buildout), and it says the buildout should have an `auto-checkout` configuration for `mockup`, but it doesn't have it anymore.
I could add that back to the buildout in order to have it for future

[2018-10-26 09:36] pbauer commented on #344
I think that is outdated and 5.1.4 has a new enough version of mockup.

[2018-10-27 04:38] svx opened #345 "Add cookiecutter template to training writing guide"
https://github.com/testthedocs/cookiecutter-plone-training

Needs some fixing and a bit more polishing, but after that we should add it it to the docs part on how to get started with writing training docs.

[2018-10-27 12:38] svx commented on #345
Update: I fixed the issues with https://github.com/testthedocs/cookiecutter-plone-training, so far so good ...

[2018-10-31 10:45] stevepiercy opened #347 "Add support for jsx-lexer"
We've got at least three trainings that could use `jsx` as a lexer via [jsx-lexer](https://github.com/fcurella/jsx-lexer). This lexer works with other themes, but not the RTD theme.

See https://github.com/plone/training/pull/341#issuecomment-434638732

I have no idea whether it is possible to customize the RTD theme for lexers not included with Pygments.

Filed ticket upstream on 2024-11-07 in ht

[2018-11-01 13:12] cekk opened #348 "Volto - Bootstrapping Plone"
In the chapter 3, you say that we need a working Plone instance.
Maybe there are some students that don't know what exactly they need to do.

I tried with a Plone 5.1.4, but i needed to add some extra informations:
- plone.restapi
- a Plone site with a specific name (Plone) that responds to 8080 port with plone.restapi installed
- a conf in instance part to avoid CORS problems

Could it be useful

[2018-11-05 04:54] tschorr opened #361 "Features chapter: clarify why users added on the terminal will not show up in the Plone controlpanel"
... in the `Users` section of training/mastering-plone/features.rst.

[2018-11-05 07:16] stevepiercy opened #362 "mastering-plone/export_code.rst add `git clean -fd` step"
- Include a step to `git clone https://github.com/collective/ploneconf.site.git` into the proper location first.
- Expand the instructions to include step for `git clean -fd`.

[2018-11-15 04:33] stevepiercy commented on #198
What do you see? What do you expect? What is your device and OS?

It works for me, although I notice some issues with the breakpoint at screen widths between 845-1320 pixels. See screenshots.

![google chrome007](https://user-images.githubusercontent.com/102112/48530393-6685bf80-e84c-11e8-8d87-b0dcbce2a30d.png)
![google chrome006](https://user-images.githubusercontent.com/102112/48530394-6685bf80-

[2019-01-09 18:51] ramiroluz commented on #329
I believe it is fixed.

[2019-01-09 18:56] ramiroluz commented on #47
+1

[2019-01-09 18:57] ramiroluz commented on #7
It is done? Should this issue be closed?

[2019-01-09 19:06] ramiroluz opened #378 "[Mastering Plone] - API incomplete sentence?"
In the solution of the exercise this sentence seems to be incomplete, it should link to another chapter?

To use methods like cropText from another view you sue the method already discussed in

PS: I already did a pull request to fix sue -> use

https://github.com/plone/training/blob/master/mastering-plone/api.rst

[2019-01-09 19:56] gforcada commented on #329
The link works, but it points to a generic overview of the trainings, whereas the other trainings point to their specific overview.

Looking at the overview where it points now, I don't see where that should like, @pbauer is some training lost or well hidden somewhere? :thinking: :mag:

[2019-01-09 20:47] tkimnguyen commented on #54
Can we close this? I think it's safe to say that we have been using P5 in the training...

[2019-01-09 20:47] #54 closed

[2019-01-09 20:49] tkimnguyen opened #379 "document how to move fields defined by a behaviour"
https://community.plone.org/t/moving-behavior-fields-to-different-fieldset/6219/ includes a couple of ways to move fields defined by a behaviour to another fieldset or tab. As far as I know, these ways (especially @tmassman 's elegant method) are not documented anywhere. Would be lovely to add this perhaps to https://training.plone.org/5/mastering-plone/behaviors_2.html

[2019-01-10 16:51] ramiroluz opened #381 "[Mastering Plone] - Typos and grammar mistakes in chapters 26 and 28."
Chapter 26:

- [x] s/text you'd/text, you
- [x] s/create a instance/create an instance
- [x] s/a attribute/an attribute
- [x] s/view you use/view, you can use
- [x] Remove extra space between "method" and "already"

Chapter 28:
-    On the solution of the Exercise 1:
        - [x] ```<tr tal:condition="not:talks">``` should be ```<tr tal:condition="not:brains">```

[2019-01-10 19:08] ramiroluz opened #383 "[Mastering Plone] - grep command on exercise is correct?"
Chapter 30. Turning Talks into Events.

The solution for Exercise 1 suggests a grep command:
``$ grep -sirn --include \*.zcml 'name="event_summary"' ./packages``

The command returned nothing for me, my SO is Linux, debian distribution. Instead I had to run:
``$ grep -siRn --include \*.zcml 'name="event_summary"' ./packages``

The first command works on other systems?

[2019-01-10 21:18] #381 closed

[2019-01-11 02:52] bvishal8510 commented on #329
@jensens can you tell me where this broken link is present?

[2019-01-14 09:38] pbauer commented on #383
It works on my mac, but `R` does the same according to my manpage so we should change it to `R`

[2019-01-14 16:53] jensens commented on #329
The link points to https://training.plone.org/5/ instead to a site covering the proposed topic "Content Management - How to work with content and manage site settings in Plone."
![screenshot at 2019-01-14 17-51-09](https://user-images.githubusercontent.com/157140/51127147-18c60d00-1825-11e9-9636-e1aa92fedb6e.png)

[2019-01-14 17:07] bvishal8510 commented on #329
Thank u @jensens  for an explanation but I was asking for the location of the file in which link needs to be changed to make it correct.

[2019-01-14 17:45] ramiroluz commented on #329
@bvishal8510 I think it is here: https://github.com/plone/training.plone.org/blob/master/data/features/content_management.yaml

[2019-01-14 18:14] ramiroluz commented on #383
Fixed, did a pull request #386. Forgot to put a hook there. So this issue must be closed "by hand".

[2019-01-15 13:00] ramiroluz commented on #9
There is a relations chapter now, should we close this issue?

[2019-01-15 13:02] ramiroluz opened #388 "[Mastering Plone] - Relations - HTML blocks not seem on the docs."
On the chapter Relations, section Accessing and displaying related items, there are two RESTful html blocks that are invisible on the docs site.

[code]

[2019-01-16 12:34] #388 closed

[2019-01-16 18:56] ramiroluz opened #391 "Mastering Plone - Creating Reusable Packages - recreate src dir??"
At the end of the chapter, there are some commands to create the src dir.

But the directory already exists.

What about writing some note to advice that the dir already exists and the command is only needed if the directory doesn't exists?

[2019-01-16 19:05] ramiroluz opened #392 "Mastering Plone - Creating Reusable Packages - mr.bob arguments changed?"
The template argument for the mr.bob script didn't worked on my machine (debian GNU/Linux).

`$ ../bin/mrbob -O starzel.votable_behavior bobtemplates:plone_addon`

The error is this:

The following command worked for me:

`$ ../bin/mrbob -O starzel.votable_behavior bobtemplates:plone/addon`

[2019-01-16 19:34] ramiroluz opened #393 "Mastering Plone - More Complex Behaviors - Make the explanation more clear."
After the behavior/voting.py code and the note about ZODB, there is a sentence:

I am not sure what file this sentence is talking about, for me it looks like the code should go to interfaces.py but it is right after the behavior/voting.py so I don't know it the author was talking about behavior/voting.py or interfaces.py

[2019-01-17 18:22] ramiroluz opened #394 "Mastering Plone - More Complex Behaviors - interfaces.py missing a Layer"
The code for interfaces.py provided by the docs misses a mr.bob generated Layer that is used by the others mr.bob generated tests.

Running the tests gives an error:
[code]

It works if we keep the generated code and paste the docs provided code on interfaces.py

[2019-01-23 17:53] ramiroluz opened #395 "Mastering Plone - A Viewlet for the Votable Behavior - make it clear which package we are working on."
I know that it is obvious for some people to know that we were working in the previous chapter on the Votable Behavior add-on.

But I did the last chapter one week before starting this one, coming back to continue the training this week, I got a little bit lost.

Figured it out looking at some code and to the title that is clear: "A Viewlet for the Votable Behavior".

I suggest that we put a sente

[2019-01-23 18:29] ramiroluz opened #396 "Plone Theming - Creating Custom Components - Typo"
On the first paragraph of Viewlets topic:
``` ... inside a view. The are registered ... ```

Should be:
``` ... inside a view. They are registered ... ```

[2019-01-23 19:23] ramiroluz opened #398 "Mastering Plone - A Viewlet for the Votable Behavior - Typo"
The first paragraph of the section Writing the Viewlet code is missing the file extension.

```Update the viewlet to contain the necessary logic in browser/viewlets```

Should be:
```Update the viewlet to contain the necessary logic in browser/viewlets.py```

[2019-01-23 20:51] #398 closed

[2019-01-24 17:02] ramiroluz opened #400 "Mastering Plone - Making Our Package Reusable - wrong indentation."
The browser/viewlets.py, code snippet on line 9 have 5 spaces instead of 4.

[2019-01-24 17:10] ramiroluz opened #402 "Mastering plone - Using starzel.votable_behavior in ploneconf.site - dir name misspelled."
The sentence:
```The config for the Workflow is in profiles/default/workfows/talks_workflow.xml```

Should be(workflow is missing the L char:
```The config for the Workflow is in profiles/default/workflows/talks_workflow.xml```

[2019-01-24 17:23] ramiroluz opened #404 "Mastering Plone - Using starzel.votable_behavior in ploneconf.site - Workflow config path is correct?"
In the documents the path is:
```profiles/default/workflows/talks_workflow.xml```

On my machine (Plone 5.1.4) the path is:
```profiles/default/workflows/talks_workflow/definition.xml```

Which one is correct?

What is the best option to fix this?

[2019-01-24 20:49] #402 closed

[2019-01-24 20:50] #396 closed

[2019-01-30 12:44] #400 closed

[2019-01-30 12:46] stevepiercy commented on #383
Closed by #386

[2019-01-30 12:46] #383 closed

[2019-01-30 12:48] ramiroluz opened #405 "Mastering Plone - Releasing Your Code - missing sample file."
There is one instruction to copy pypirc_sample to ~/.pypirc but I could not find this file neither on my machine nor in any repository. Looked at:

- https://github.com/plone/training
- https://github.com/collective/ploneconf.site
- https://github.com/collective/starzel.votable_behavior

[2019-03-19 19:22] ramiroluz opened #407 "Deployment - playbook use - incomplete sentence."
Part of the sentence in the firewalling section is missing.

[2019-03-31 23:30] pnicolli commented on #344
#409 and https://github.com/collective/collective.jstraining/pull/3 should fix this issue.

[2019-04-02 23:46] stevepiercy opened #410 "Travis CI build succeeds on PR, fails on merge"
This PR passed the Travis CI build:
https://travis-ci.org/plone/training/builds/514900652

After I merge it, this Travis CI build failed:
https://travis-ci.org/plone/training/builds/514936740

Can anyone explain how the exact same code would both succeed and fail? Are there two different build pipelines in place? The settings don't offer a clue:
https://travis-ci.org/plone/training/settings

[2019-04-04 09:03] stevepiercy commented on #410
@pbauer is `ploneconf.site_sneak` still in use, or should it be removed from the training docs? There are numerous errors in Sphinx:

[code]

[2019-04-05 07:14] pbauer commented on #410
It should be removed. it was used to pull in code but that is outdated.

[2019-04-05 10:16] stevepiercy commented on #410
OK, I just commented out those literalincludes. That chapter needs some tender luvin'.

I made additional fixes, too.

The only thing that I didn't fix was syntax highlighting for the following languages: html+ng2, scss, http, js, less, jsx. All except jsx are [valid lexers in Pygments](http://pygments.org/docs/lexers/). I'm not sure what is a good replacement for them.

[2019-04-07 20:25] pradityamsook commented on #278
I would tried and it's work.

[2019-05-24 09:59] #410 closed

[2019-06-12 07:59] #407 closed

[2019-06-24 15:32] jensens commented on #329
I fixed this in the other repository, deployment is pending.

[2019-06-24 15:32] #329 closed

[2019-06-26 07:46] pnicolli commented on #344
Fixed with aforementioned PRs

[2019-06-26 07:46] #344 closed

[2019-08-19 20:46] mauritsvanrees opened #421 "React: initial generated code differs"
The initial code from the `create-react-app` call in the training docs, shows a class that extends `Component`. See https://training.plone.org/5/react/component.html

What I get instead, is a function:

[code]

I don't know which one is better. I see two options:

1. Switch the training to use a function.
2. Explain why the training does this differently.

Some version numbers:

[code]

[2019-08-21 15:58] mauritsvanrees opened #422 "React: should files have suffix .jsx?"
The solution for the exercise in paragraph [7.2](https://github.com/plone/training/blob/master/react/state.rst) shows the diff for a file named `FaqItem.jsx`. In my case I have file `FaqItem.js` without an `x`, so I am mildly surprised.

Does the suffix matter?  If so, [chapter 5](https://github.com/plone/training/blob/master/react/reusable_component.rst) should tell me to create the file with thi

[2019-08-21 16:36] mauritsvanrees opened #423 "React: Warning: Each child in a list should have a unique "key" prop."
In paragraph 7.1, [Store Questions And Answers In The State](https://training.plone.org/5/react/state.html#store-questions-and-answers-in-the-state), we iterate over the items using the `map` function. After this, when you run `yarn test` you get a warning:

[code]

This is solved in chapter 9. We may want to warn the reader. Maybe a note like this in paragraph 7.1:

[2019-08-21 16:53] mauritsvanrees opened #424 "React: tests fail after chapter 9"
After chapter 9, `yarn test` fails in various ways.

The FaqItem tests need an `index` and `onDelete` argument, something like this:

[code]

(And the snapshot should be updated, if you have saved it.)

And then we still have a test failure in the App test, same as in issue #423:

      Warning: Each child in a list should have a unique "key" prop.

I don't know how to fix that.

[2019-08-27 13:34] pbauer opened #425 "Update Mastering Plone for Plone 5.2 and Python 3"
See https://github.com/plone/training/pull/406 and https://github.com/collective/training_buildout/pull/17.
Pull-request for https://github.com/collective/ploneconf.site is still missing.

[2019-09-05 18:35] pbauer opened #426 "deploy is broken"
[code]

e.g. https://travis-ci.org/plone/training/jobs/581338911

[2019-09-05 21:22] tkimnguyen opened #427 "shell provisioner error (Plone 5.2/Python 3)"
When running `vagrant up` with the plone52 branch's `plone_training_config.zip` I got

[code]

The full output is:

[code]

Looks like an error in `host_setup.sh`, line 43?

If I edit out that block to skip copying the nonexistent scripts, `vagrant provision` fails trying to `git clone`:

[code]

[2019-09-06 07:17] pbauer commented on #427
What can I say. It works for me.

[code]

[2019-09-23 09:27] mauritsvanrees opened #432 "React: 14.2 error in code, and missing highlights for changes"
The first code snippet in 14.2 has:

    import addFaqItem from "./actions";

This should be two dots:

    import addFaqItem from "../actions";

The second snippet directly below it uses `connect`, but it does not import it:

    export default connect ...

The full file below it has it correct, but these lines miss highlighting:

[code]

[2019-09-23 09:40] mauritsvanrees opened #434 "React 14.3 Excercise: arguments for connect are not explained"
This is the end of the solution for exercise 14.3:

[code]

I don't understand why the first argument to `connect` is so empty. I would have expected it to get some state and props (index, question, answer), and return at least `{index}`, because `index` ends up in the props. The code works, but I don't yet understand why.
Maybe this will be explained in live training.

[2019-09-28 11:18] sneridagh commented on #347
+1 also we need to add a less lexer too!

@svx do you think it's possible?

[2019-09-28 11:55] stevepiercy commented on #347
I just ran a test, and it appears that both the default and RTD themes lack sufficient styling to make jsx-lexer useful. But there is an [open PR upstream in Pygments](https://bitbucket.org/birkenfeld/pygments-main/pull-requests/722/close-1002-add-jsxlexer/diff)

[2019-10-02 19:27] mauritsvanrees opened #437 "Volto 3.4. Running The Project: which port?"
In [Running the project](https://training.plone.org/5/volto/bootstrap.html#running-the-project) the text says about `yarn start`:

This is correct.
But in the terminal I see:

I don't see anything about port 3000 in the terminal, so I think the documentation may be wrong, and I go to port 3001, and only see an error:

In my case, neither port 3000 nor 3001 really worked, because I had not configur

[2019-10-02 19:29] mauritsvanrees opened #438 "Volto 4.1. Semantic UI: where can I find the pastanaga theme?"
The [Semantic UI paragraph](https://training.plone.org/5/volto/styling.html#semantic-ui) says:

No we don’t. I don’t see a globals folder.

I _think_ we mean the globals folder in the plone.volto node package.
It would help if we can point that out. Something like this:

[2019-10-11 08:03] tisto commented on #333
If we want people to contribute we should make this as easy as running IMHO:

```make```

If a core developer has to look up how this works and needs a pointer, how can we expect a newbie to fix a typo...

[2019-10-11 08:36] tisto commented on #333
@svx @pbauer I tried my best to make just typing "make" work for the setup:

https://github.com/plone/training/pull/441

Though, neither Makefiles nor Jenkinsfiles work well with activating virtualenvs in my experience. Therefore we would have to refactor that as well. What do you think?

I just had to set up things manually for two of my colleagues. If we make it that hard to build our docs we ca

[2019-10-15 13:46] tisto commented on #437
@mauritsvanrees this seems odd. Do you have steps to repoduce? Are you sure you haven't set a port manually in the command line? Webpack starts on port 3000 and moves on to 3001 if that port is blocked.

[2019-10-15 21:29] mauritsvanrees commented on #437
Steps to reproduce are: follow the training.
Let me try again, in the home folder:

[code]

Check the open ports in the 3000 range:

[code]

So node is listening on ports 3000 and 3001.  Port 3000 is the one I should use according to the training docs, and it is working, but port 3001 is the only one that I see in the messages from `yarn start`. This confuses me.

[2019-10-16 07:14] tisto commented on #437
@jackahl @steffenri can you give this part of the training a shot and see if you can reproduce what @mauritsvanrees describes here? cc @sneridagh

[2019-10-16 08:36] jackahl commented on #437
@mauritsvanrees This is  a known issue, which is already fixed in the current version of volto. But create-volto-app ships a rather old Volto version, where it still prints out `｢wds｣: Project is running at http://localhost:3001/`. So the problem should be resolved once create-volto-app ships the current version of Volto.

[2019-10-16 08:56] sneridagh commented on #437
@mauritsvanrees the port 3001 is the one responsible for the hot reloading in the dev server in dev mode. So it's completely normal. What is not normal is that Razzle (the Volto bundler) displays the info message that the port is open. I can't see it in a MACOS build.

create-volto-app is fine, it is in sync with the latest released Volto, so if you run it it will configure Volto 3 version by defa

[2019-10-16 08:58] sneridagh commented on #437
![image](https://user-images.githubusercontent.com/486927/66904113-da53bd80-f003-11e9-9740-8cdcc4d14f9b.png)
This is what I see in MACOS.

[2019-10-16 09:22] mauritsvanrees commented on #437
I am also on MacOS (Mojave, 10.14.6) and I see the extra info:

![Screenshot 2019-10-16 at 11 14 08](https://user-images.githubusercontent.com/210587/66905491-3cadbd80-f006-11e9-8495-1f9ab209fba2.png)

Perhaps the issue is more that Volto/yarn/node does not say enough: I would hope that it would say it is running on port 3000. Or should a front-end developer simply know that?

I hope I am not comi

[2019-10-16 09:27] sneridagh commented on #437
@mauritsvanrees I have a hunch, could be that you have wds (webpack developer server) installed globally in your node env? Some tools teached to install webpack globally (which is wrong). if so, remove it, the build should use the one in the local project.

[2019-10-16 10:27] mauritsvanrees commented on #437
Not as far as I can see. I think it was clean before I started on Volto. The node_modules directory in my home folder was created by `create-volto-app` and it is empty.

Some commands I used for searching:

[code]

And in the volto app:

[code]

[2019-10-16 10:34] sneridagh commented on #437
@mauritsvanrees forget about it, I think we have a Heisenbug. All our projects are bootstrapped with create-volto-app, but it's not showing the behavior (even https://github.com/collective/volto-hands-on-training does not show it for me (locally) and I've removed the node_modules and all that stuff).

I've seen that you are trying the Volto training. Can you try with the Volto hands on training re

[2019-10-16 11:33] sneridagh commented on #437
@mauritsvanrees ok, I see what happens.

Razzle depends on webpack-dev-server but the dependency is set to use a ^ version, and they bumped to 3.8.1 one month ago. This version has different behavior than the previous ones, at least in being more verbose. Yarn lock file prevents our other projects to "update" automatically to the newest one.

Although is just an aesthetics issue, it leads to confu

[2019-10-16 19:26] mauritsvanrees commented on #437
Volto hands-on training does not fare better, but that seems something different entirely:

[code]

[2019-10-16 19:28] mauritsvanrees commented on #437
I think we can close this training issue in favour of the issue in the Volto repo, although I guess the training docs could mention something about this as long as it is not fixed.

[2019-10-16 19:28] #437 closed

[2019-10-17 07:04] sneridagh commented on #437
@mauritsvanrees that is another error, yarn based:
https://github.com/yarnpkg/yarn/issues/6969

It seems to happen when dealing with large packages. Retry and it should work.

[2019-10-19 21:11] mauritsvanrees commented on #437
I tried again with `volto-hands-on-training`, and now it works.

[2019-10-21 07:50] mauritsvanrees commented on #421
Functions are apparently the new way, so the training should be updated to reflect this.

[2019-10-21 10:23] mauritsvanrees commented on #423
Two months ago I apparently thought I had solved this with an extra id in `FaqItem.jsx`:

    <li id={this.props.index} className="faq-item">

But I still see the warning in the console.

[2019-10-21 11:04] ramiroluz opened #455 "React: 12.1 extra space in be come."
The text have a misspell.

"... this can be come very complex ..."

should be:

"... this can **become** very complex ..."

[2019-10-21 11:13] ramiroluz opened #456 "React: 12.1 clarify a sentence."
The end of the sentence is not clear for me:

"Redux is a state management system which is composed of a store which contains data, a set of reducers which handle (part of) this state and it’s changes and actions which are used to trigger state changes."

A possible rewrite could be?

"Redux is a state management system which is composed of a store which contains data, a set of reducers which hand

[2019-10-21 13:50] mauritsvanrees commented on #432
Looks like my merged PR is on the live site. I close this.

[2019-10-21 13:50] #432 closed

[2019-10-21 14:44] mauritsvanrees commented on #434
Rob explained that this is because we already get those properties from `Faq.jsx`:

[code]

Technically we could pass only `index` here, and then in the `connect` call use this index to get the question and answer from the store.

[2019-10-26 16:11] pbauer opened #462 "Create Mastering Plone 6 Training"
The plan is to replace traditional frontend tasks with chapters on changes in the new frontend.

Results of the first discussions are added with https://github.com/plone/training/commit/f196b0057980d4ea82a7a2f0552ed6c9dcd31663

[2019-10-27 08:48] pbauer commented on #425
Done

[2019-10-27 08:48] #425 closed

[2019-10-27 08:49] pbauer commented on #427
works now

[2019-10-27 08:49] #427 closed

[2019-12-02 21:04] frankar opened #472 "main configure.zcml"
In mastering-plone/eggs1.rst the main zcml is not in /browser:

.... in your main :file:`browser/configure.zcml`

[2019-12-03 08:35] pbauer commented on #472
Thanks! Fixed.

[2019-12-03 08:35] #472 closed

[2020-01-21 15:32] ZLTM commented on #278
To give an actually useful answer, you need to remove the line 'pkg-resources==0.0.0' from requirements.txt, then push the changes to your repository before doing a Heroku push, only removing the line won't work

[2020-02-14 07:51] reinhardt opened #475 "Update solr training"
The solr training is out of date and doesn't work as described any more, e.g. because collective.solr uses kitconcept.recipe.solr instead of collective.recipe.solrinstance now.

[2020-02-14 07:54] reinhardt commented on #475
I'll try looking into it today.

[2020-02-26 07:14] reinhardt commented on #475
First step was done in #476. The first couple of chapters have mostly been brought up-to-date, up to and including "Solr Buildout Configuration". The remaining chapters still have some references to c.recipe.solrinstance. In the setup part, `bootstrap-buildout.py` should be replaced with `venv` and `pip install`.

[2020-02-27 22:29] #14 closed

[2020-02-27 23:09] jensens commented on #141
outdated

[2020-02-27 23:09] #141 closed

[2020-02-27 23:10] #153 closed

[2020-03-12 14:51] pbauer commented on #462
Tasks:

* [ ] Document Installation of backend and frontend
    * [ ] Non-Vagrant
    * [ ] Vagrant
    * [ ] Update vagrant setup to install volto
    * [ ] Add section "Why not use docker?"

* [ ] Add new Screenshots with Volto
* [ ] Change structure (no more 'the-event') to make more sense
* [ ] Use plonecli instead of bobtemplates.plone to create ploneconf.site
* [ ] Add dexterity reference-ch

[2020-04-20 12:09] stevepiercy opened #478 "training_buildout should avoid setuptools==46.1.3"
When following the instructions in Mastering Plone Training to install Plone, after [creating a virtual environment with `python3.7 -m venv .`](https://github.com/plone/training/blame/74d1427006d0a7601302a404807aaf1db7f0ce56/plone_training_config/instructions.rst#L102), one should not `./bin/pip install --upgrade pip setuptools` as the console output suggests. There be dragons!

To fix, downgrade

[2020-05-06 13:01] pbauer commented on #13
We tried to implement this but ran into a couple of issues that led us to table that for now

Mostly, self-registration does not work well with membrane . A approach was to open `++add++speaker` upon registration. That would require:
* Add a folder where anonymous has the permissions `Add portal content` and `Add speaker` (via a placeful workflow or `manage_access` or a bustom type with a custom w

[2020-06-12 07:42] pbauer opened #481 "Deploy Plone 6 training"
Currently the plone6 branch is released s on https://training.starzel.de
It should be deployed on https://training.plone.org/6

[2020-11-16 05:57] ichim-david commented on #423
@mauritsvanrees this is happening because it's missing the key property.
On React docs it's explained why it's needed:
https://reactjs.org/docs/reconciliation.html#keys

The tutorial needs to be updated from chapter 5 when it starts to map the state
array of FaqItems to also pass the **index** and for the index to be used also for the **key**.
https://training.plone.org/5/react/state.html#store-qu

[2020-11-16 06:09] ichim-david commented on #424
@mauritsvanrees  I'm glad you took the time to go through the tutorial and add bug reports for
issues that you've found.
I just finished the tutorial last night and while grateful that it was prepared I was surprised of
the following things that I found:
1. the key prop warning was present and never addressed and fixed
2. tests were written at the beginning and then you get failing tests for you h

[2020-11-24 09:54] #462 closed

[2020-11-25 09:45] pbauer commented on #481
Since Plone 6 is not finished I deployed the training next to the existing one.
The Version-Number in the url is annoying anyway.

[2020-11-25 09:45] #481 closed

[2020-12-30 08:51] stevepiercy opened #490 "Add Sphinx-copybutton extension to copy code with a click"
As a fellow trainer who stumbled with correct copy-paste mousing dexterity on occasion, I decided to install this in the Pyramid docs.

https://sphinx-copybutton.readthedocs.io/en/latest/

Would this be useful, and if so would you accept a PR for the Plone Training docs?

[2021-05-06 04:46] ksuess opened #500 "some narrative docs about this in Volto docs as well! "How to use Volto widgets in DX content types"."
It would be great if we could have some narrative docs about this in Volto docs as well! "How to use Volto widgets in DX content types". What do you think?

Also, preparing this:
https://github.com/plone/volto/pull/2294

So we will have the full story in Volto core now. :)

_Originally posted by @sneridagh in https://github.com/plone/training/issues/493#issuecomment-806499828_

[2021-05-21 19:39] ksuess opened #503 "Find Plone trainings"
Plone is cool.
@plone/marketing-communications would you help to kick out these boring google / bing / whatever search result titles **and descriptions**? and help kick out outdated pages?

**Google "Plone training"**

![image](https://user-images.githubusercontent.com/1144737/131174556-4b0953a7-86c4-4019-b93f-66515c7f7e32.png)

**Google "Plone tutorial"**

![Plone_tutorial_-_Google_Suche](https:/

[2021-07-06 06:15] ksuess opened #506 "Relaunch training.plone.org"
We discussed a relaunch (see requirements below) and agreed to
- switch all trainings from reST to [MyST](https://myst-parser.readthedocs.io/en/latest/) (superset of markdown)
- apply [sphinx theme 'book'](https://sphinx-book-theme.readthedocs.io/en/latest/index.html#)

we are: @ksuess, @spereverde, @stevepiercy, @pbauer
Contact us here or via Discord channel https://discord.gg/NES2f6dQ

**As the

[2021-07-06 07:25] stevepiercy commented on #506
I use the theme by the Executable Book Project, [Sphinx Book Theme](https://sphinx-book-theme.readthedocs.io/en/latest/), which is built on pydata_sphinx_theme. I agree with the list of "must haves", and there may be more.

I added a few customizations to the theme, which are trivial to implement. I changed the color of inline literals from hot pink to dark green with light grey, and improved enum

[2021-07-06 17:40] ksuess commented on #506
We are inspired, @stevepiercy !
https://sphinx-book-theme.readthedocs.io/en/latest/ looks great and has a lot of features that I think are important to add to https://training.plone.org/ .
Another option is https://pydata-sphinx-theme.readthedocs.io/en/latest/ that Philip suggested and, before diving into Sphinx sphere, it seems that Sphinx, not the theme, is a great base with valuable addons / ex

[2021-07-06 17:52] ksuess commented on #506
@pbauer , @plone/training-team please add your must haves and nice to haves!

[2021-07-06 18:07] ksuess commented on #506
@pbauer, please invite and convince @stevepiercy to join us after summer retreat on 04.08.2021 15:00 MESZ or propose an alternative date for moths.

[2021-07-06 20:13] stevepiercy commented on #506
@ksuess @pbauer I would be happy to join later in the day, or at least work asynchronously. 1500 MESZ == 0600 PDT.

[2021-07-06 20:32] stevepiercy commented on #506
Sphinx Book theme is based on PyData theme, so you get all of its features and a few more (as well as more bugs, such as that issue with panels).

I don't know how useful notebooks would be for Plone or Volto, but it would be worth exploring. I think that we can have Docker containers that we can launch in [Binder](https://mybinder.org/). On that Sphinx Book page, there is a rocket icon in the upp

[2021-07-07 12:16] spereverde commented on #506
fyi
https://github.com/plone/training/pull/507#issuecomment-875531221 - POC with myst ready

[2021-07-08 06:47] ksuess commented on #506
I am excited that this project has some drive now. So how to nourish this energy? I have a great interest in a relaunch and I want to contribute as much as possible. Unfortunatly I planned to be offline the next three weeks. And @spereverde who already put effort in this is afterwards not available. So I propose that we do what we think is important to do. We document the tasks in the above list o

[2021-07-08 08:47] stevepiercy commented on #506
I would like to see @spereverde's proof of concept on a new and separate branch and PR. That way we can merge it into any other branch when it is ready.

25 August 0900 PDT (1800 MESZ) is on my calendar.

Plone folks are using [Discord](https://discord.gg/MVrhRg8rf3) now for chat, voice, and video. I have Owner permission. I can create a specific channel for this project. Do we have a need to use

[2021-07-08 08:57] ksuess commented on #506
Yes, you are right these two can be separate PRs. For a preview we can combine locally.

Would you create a channel?

[2021-07-08 10:40] stevepiercy commented on #506
Discord channel created: https://discord.gg/d9dZcA4Ezw

Milestone created: https://github.com/plone/training/milestone/10

Please feel free to add issues and pull requests to the milestone.

[2021-07-08 19:39] #455 closed

[2021-07-08 19:44] #456 closed

[2021-07-08 19:56] spereverde commented on #506
PR https://github.com/plone/training/pull/508 for myst added to https://github.com/plone/training/milestone/10

[2021-07-08 20:07] #391 closed

[2021-07-08 20:22] #395 closed

[2021-07-08 20:31] #393 closed

[2021-07-08 20:51] spereverde commented on #314
fixed a while ago :-) - cfr. https://github.com/collective/ploneconf.site/tree/views_1

[2021-07-08 20:51] #314 closed

[2021-07-08 20:55] spereverde commented on #18
docu was updated long time ago

[2021-07-08 20:55] #18 closed

[2021-07-08 20:58] spereverde commented on #159
this documentation page no longer exists or was updated, no reference to sentence in any existing docu

[2021-07-08 20:58] #159 closed

[2021-07-08 21:04] spereverde commented on #170
Documentation was already updated a while ago: https://training.plone.org/5/plone_training_config/instructions.html#install-virtualbox

[2021-07-08 21:04] #170 closed

[2021-07-08 21:16] spereverde commented on #168
in the mean time the link has been fixed in the plone 4 training and in the plone training

[2021-07-08 21:16] #168 closed

[2021-07-08 21:20] spereverde commented on #122
see also https://github.com/plone/training/issues/18
docu was updated, bug no longer there in newer versions

[2021-07-08 21:20] #122 closed

[2021-07-08 21:23] spereverde commented on #179
should I close this or wait until this is tested in the relaunch of this year?

[2021-07-09 09:04] #179 closed

[2021-08-28 11:45] fredvd commented on #503
To make the training results in search engine listings less boring, we'll need to add metadata to the html that is generated by the training docs builder.  A bit like collective.ogtags and also Plone 5.x are adding.

More in general, when you search on plone.org itself and also through for example Google, a lot of old irrelevant content from 10-12 years comes up regularly first.   I'm against remo

[2021-08-28 11:45] fredvd commented on #503
@rioksane ^^

[2021-08-28 13:53] stevepiercy commented on #503
We need to add this Sphinx extension:
https://github.com/wpilibsuite/sphinxext-opengraph

I only learned about it because the contributor accidentally `@`-ed me in the issue tracker for RTD, which subscribed me to it.
https://github.com/readthedocs/readthedocs.org/issues/1758

To get better results, every page's first N characters (whatever we configure for `ogp_description_length`) must be the pa

[2021-08-28 14:10] stevepiercy commented on #503
If however we want to have full control over every page, instead of a quick configuration option, then we should use the built-in support from [docutils' `meta` tag](https://docutils.sourceforge.io/docs/ref/rst/directives.html#metadata).

Is automatic good enough? If not, would authors add the meta tags for every page?

I am curious what would happen when both are enabled.

[2021-09-01 18:53] ksuess commented on #490
Sorry for liking but without any further action.
Copy button is now part of future PR of branch https://github.com/plone/training/tree/ksuess-theme-playground

[2021-09-01 18:53] #490 closed

[2021-09-01 19:00] stevepiercy commented on #506
I modified and added a couple more items to the checklist above.

- Document process to convert files from from reST to MyST. Myst rst2myst conversion process #511. @stevepiercy
- Fix syntax issues, merge all individual trainings' conf.py, about/index.rst, about/glossary.rst, Makefile, LICENSE into a single file at the root level. These prevent a clean conversion using rst2myst and a clean build w

[2021-09-04 17:23] ksuess commented on #506
It is important not to touch the docs without taking #516 into account as there are already theme specific changes to markdown files (converted by #515), @stevepiercy, thanks!

[2021-09-08 09:10] ksuess opened #517 "Check logos for labeling chapters as frontend / backend / Plone / Plone Classic (Mastering Plone training)"
Differentiate between chapters: Backend, Frontend (react), Frontend (classic)
and respect logo guidelines: https://plone.org/foundation/copyright-licensing-logo

[2021-09-09 05:12] ksuess opened #519 "Add some SEO info with `html_meta` directive"
at least for the intro chapters of each training

[code]

to be inserted at the beginning of a page

[2021-09-09 07:07] tschorr opened #520 ""hosting providers" link points to plone.org"
In the Mastering Plone training, section 6.3 (Installation & Setup of Plone 6 -> Hosting Plone) professional Plone hosting providers are mentionned, however the link points to the plone.org startpage.

[2021-09-09 18:42] stevepiercy opened #521 "Reinstate `make test` for linkcheck, linting, and other tasks"
For quality, I would like to reinstate in the Makefile the following:

- [x] linkcheck
- [x] spelling
- [ ] badwords
- [ ] other?

@pbauer @ericof do you have opinions about this?

[2021-09-11 01:46] stevepiercy commented on #520
This has been fixed, and a redirect from plone.com/providers -> plone.org/providers has also been put in place.

[2021-09-11 01:46] #520 closed

[2021-09-11 01:50] stevepiercy commented on #478
This appears to have been removed from both Master Plone Trainings. Closing.

[2021-09-11 01:50] #478 closed

[2021-09-11 01:51] stevepiercy commented on #475
@reinhardt we've migrated from using rST to MyST. We would accept a PR that addresses this issue.

FWIW I recently updated all the links per the split between Lucene and Solr.

[2021-09-11 01:53] stevepiercy commented on #426
@pbauer I think this can be closed, now that we use GHA to deploy. If not, please reopen.

[2021-09-11 01:53] #426 closed

[2021-09-11 01:56] stevepiercy commented on #378
@pbauer @ksuess can you fix this incomplete sentence?

https://github.com/plone/training/blob/d59dd724ec064a9e01856c55809562b54ca0979c/docs/mastering-plone/api.md#L260-L260

[2021-09-11 01:59] stevepiercy commented on #347
We now have a JSX, LESS, and SCSS lexers with the new theme. However, the JSX is not that great. We might need to use JS or plain old `text`.

[2021-09-11 02:00] stevepiercy commented on #345
This cookiecutter is now obsolete. Closing.

[2021-09-11 02:00] #345 closed

[2021-09-11 02:04] stevepiercy commented on #7
We decided to remove translations because we update training docs every year, but no one updates the translations. Google Translate is sufficient, if not hilarious from time to time.

[2021-09-11 02:04] #7 closed

[2021-09-13 07:56] stevepiercy commented on #521
I added linkcheck and spellcheck in #526.

I can't think of anything else that would add value. Closing.

[2021-09-13 07:56] #521 closed

[2021-09-13 08:59] stevepiercy commented on #338
Closing in favor of #526.

[2021-09-13 08:59] #338 closed

[2021-09-13 09:03] #290 closed

[2021-09-13 09:06] stevepiercy commented on #273
Because trainings are updated frequently, but not translations, and Google Translate is pretty good, I'm closing this issue as a "won't fix".

[2021-09-13 09:06] #273 closed

[2021-09-13 09:14] stevepiercy commented on #253
Closing. With the recent overhaul, I think this issue has been addressed. If not please feel free to reopen.

[2021-09-13 09:14] #253 closed

[2021-09-13 09:19] stevepiercy commented on #240
We use GitHub Actions now. Closing.

[2021-09-13 09:19] #240 closed

[2021-09-13 09:20] stevepiercy commented on #243
Closing. Obsolete.

[2021-09-13 09:20] #243 closed

[2021-09-13 09:22] stevepiercy commented on #252
@tkimnguyen I'm closing this issue as stale. Feel free to migrate that tutorial into a new directory under docs/, assuming it is still useful. We now use MyST and Markdown and have a shiny new theme. Let me know if you need any help with that.

[2021-09-13 09:22] #252 closed

[2021-09-13 09:24] stevepiercy commented on #233
Search is available at https://training.plone.org/5/

If you mean the home page, then please open an issue in https://github.com/plone/training.plone.org

[2021-09-13 09:24] #233 closed

[2021-09-13 09:28] stevepiercy commented on #228
Link is dead. Closing.

[2021-09-13 09:28] #228 closed

[2021-09-13 09:29] stevepiercy commented on #198
Closing. New theme. This is obsolete.

[2021-09-13 09:29] #198 closed

[2021-09-13 09:33] stevepiercy commented on #171
This has been fixed for a while. Closing.

[2021-09-13 09:33] #171 closed

[2021-09-13 09:34] stevepiercy commented on #127
Nothing to do here. Closing.

[2021-09-13 09:34] #127 closed

[2021-09-13 09:34] stevepiercy commented on #126
We got it now. Yay GitHub Actions!

[2021-09-13 09:34] #126 closed

[2021-09-13 09:36] stevepiercy commented on #116
Without further information, and being unable to reproduce this, I'm closing this issue. Please feel free to reopen if it recurs or you have more information.

[2021-09-13 09:36] #116 closed

[2021-09-13 09:39] stevepiercy commented on #99
This now works in Plone 5. Closing.

[2021-09-13 09:39] #99 closed

[2021-09-13 09:41] stevepiercy commented on #97
Plone 5 is now supported for this. Closing.

[2021-09-13 09:41] #97 closed

[2021-09-13 09:42] stevepiercy commented on #71
This has been reinstated in #526. Closing.

[2021-09-13 09:42] #71 closed

[2021-09-13 09:42] stevepiercy commented on #70
I fixed the crap out of hundreds of dead links. There are no more dead links. Closing.

[2021-09-13 09:42] #70 closed

[2021-09-13 09:43] stevepiercy commented on #62
This has been fixed in #526.

[2021-09-13 09:43] #62 closed

[2021-09-13 09:46] stevepiercy commented on #50
Closing. Per the link, it is obsolete and replaced by https://github.com/collective/ploneconf.site, which appears in https://training.plone.org/5/mastering-plone/code.html

[2021-09-13 09:46] #50 closed

[2021-09-13 09:48] stevepiercy commented on #47
This is fixed in https://training.plone.org/5/mastering-plone-5/viewlets_1.html#exercise-2

[2021-09-13 09:48] #47 closed

[2021-09-14 05:27] ksuess opened #527 "Improve accessibility with image alternative text"
- Check for alternative text for images (alt attribute)

[2021-09-14 05:44] stevepiercy commented on #527
Search for `{figure}` and `{image}` and get count of instances (326). Compare against count of `:alt:` (128).

Do we want to make `alt` required? (I would vote "yes".)

If we require this, then we must document that it is required. Currently we have only an example without stating that `alt` is required. That would go best in `docs/contributing/markup-syntax.md`

[2021-09-14 06:04] stevepiercy opened #528 "Move duplicated content from Master Plone (5) Trainings into Contributing"
There is duplicated content between the two Master Plone Trainings, 5 and 6, that should be moved into a single location in `docs/contributing`, depending on what that content is.

- Installation stuff should go into `contributing/setup-build.md`.
- Trainer stuff should go into `contributing/trainers.md`.

...and so on.

[2021-09-14 06:26] ksuess commented on #527
This is a job to do: adding alt attributes in existing docu.

After this is done I would vote for documenting alt attribute as required and add a check.

[2021-09-14 07:27] stevepiercy opened #529 "Consider adding OpenGraph meta data"
See https://github.com/wpilibsuite/sphinxext-opengraph

[2021-09-14 07:37] stevepiercy commented on #527
Is there an easy way to automate checking images for alt text in GitHub Actions or Sphinx?

[2021-09-14 09:03] stevepiercy commented on #527
I could not find any [automatic alt text enforcer under sphinx-contrib](https://github.com/sphinx-contrib).

I found a tool called [Sa11y](https://ryersondmp.github.io/sa11y/) that might be helpful after deployment, but it is manual.

Maybe @polyester knows of a tool?

[2021-09-15 20:37] stevepiercy opened #531 "Deleting `contributing/trainers.md` would delete content that does not exist elsewhere and should be moved into an appropriate location"
Actually, it appears that deleting `contributing/trainers.md` would [delete content that does not exist elsewhere and should be moved into an appropriate location](https://github.com/plone/training/blame/866fbfe0425ab53755bd203695e5d58a85aafa50/docs/contributing/trainers.md#L18-L49).

_Originally posted by @stevepiercy in https://github.com/plone/training/issues/526#issuecomment-920358341_

[2021-09-15 21:54] stevepiercy opened #533 "Add dark mode"
Consider adding a dark mode for usability.

https://github.com/executablebooks/sphinx-book-theme/issues/265

[2021-09-17 07:46] #517 closed

[2021-09-17 08:20] #531 closed

[2021-09-17 16:29] mactrash opened #535 "pyenv virtualenv 3.9.5 plonepy result pyenv: no such command `virtualenv'"
I am new to this, I can't follow the steps to install python

[2021-09-17 17:58] stevepiercy commented on #535
What did you try? Which steps? Please provide a link to the steps that you mention.

[2021-09-17 22:53] mactrash commented on #535
<img width="814" alt="Screenshot 2021-09-18 at 6 52 42 AM" src="https://user-images.githubusercontent.com/1506388/133861615-fd07e366-6551-496a-b6ba-ba0dbe9efb56.png">
Many thanks

[2021-09-17 23:38] stevepiercy commented on #535
Screenshots don't help. We need a link.

Do you have pyenv installed to manage your various Python versions?

[2021-09-18 06:41] mactrash commented on #535
@stevepiercy yes pyenv install 3.9.5 run success

[2021-09-18 07:53] ksuess commented on #535
The pyenv plugin "pyenv-virtualenv" is not installed. You can
- install it into your existing pyenv or
- run the pyenv installer mentioned in the training chapter which installes pyenv with plugins.

[2021-09-19 11:42] stevepiercy commented on #519
I think we covered this in https://training.plone.org/5/contributing/authors.html#html-meta-data

See also https://github.com/plone/training/issues/529

[2021-09-19 11:48] stevepiercy commented on #528
Closed by https://github.com/plone/training/commit/fd341bff595ff2242665b2f13a08a23bf4a2cf35

[2021-09-19 11:48] #528 closed

[2021-09-19 11:51] stevepiercy commented on #506
I think we can close this issue, as we've completed most items. I think that the only things that need English touch-up will be those trainings that will be for 2021. I can review those PRs as they come in, and hopefully no one pushes to `main`.

[2021-09-19 11:57] stevepiercy commented on #503
Are there [configuration items](https://github.com/plone/training/issues/503#issuecomment-907614961) in search engines that someone manages? Please speak up.

If not, I think we can close this issue in favor of https://github.com/plone/training/issues/529 and https://github.com/plone/training/issues/519.

[2021-09-19 12:11] stevepiercy opened #536 "Theming, Volto Hand On Trainings - WARNING: document isn't included in any toctree"
The following files are not included in any `toctree` directive and need to be either included or deleted. They are currently excluded from the build in `conf.py`.

[code]

[2021-09-20 16:07] ksuess commented on #529
It' definitly worth adding OpenGraph meta data. Thanks for the hint!
The sphinxext-opengraph extension does a great job for most chapters.
Example http://localhost:3002/mastering-plone/dexterity_reference.html : text after heading is picked as og:description. That's fine and that's what I would expect.
But
- I would expect that html_meta: "description" would be picked if it is present. It is unfor

[2021-09-20 16:43] ksuess commented on #529
Two more thougts about OpenGraph meta data:

Apart from the fact that it would be handsome to write
[code]

and get og:description from above html_meta description generated, the author can write

[code]

The other point that i think is worth mentioning: does anybody want to twitter a training chapter? yes, they are hot stuff, but will they be twittered?

[2021-09-20 17:27] ksuess commented on #503
Even if i think the title of this issue is still worth an issue, the description I wrote and the screenshots do not fit at all.
The question is: Do developers find the chapters of the training or the chapters of the Plone docs they need?

One step in this direction is to see training chapters with **its chapter title and the training title** in search results of search engines.
`<topic> | <trainin

[2021-09-20 17:27] #503 closed

[2021-09-20 17:39] ksuess commented on #519
Why not adding a check of every 2021 chapter on existence of html_meta description in PR test?

[2021-09-20 17:45] ksuess commented on #506
huh, this would probably need a friendly reminder to teachers: "Please work with PR. If you are interested, Steve is so kind to help with a English touch-up."

[2021-09-20 19:07] stevepiercy commented on #519
Because I do not know where to begin to write such a test.

I guess we could add a task to `Makefile` that recursively scans the `docs` directory for `.md` files, puts them into a list, then iterates over the list to check each file for the presence of the string:

[code]

[2021-09-20 19:25] stevepiercy commented on #529
This is by design. It does integrate with `html_meta`.

See related issue.
https://github.com/wpilibsuite/sphinxext-opengraph/issues/22

I had not thought of doing that. That's a great solution! Let's do this instead.

Twitter, Facebook, and other social media that Plone Foundation uses. There is also an auto-post to Slack. I also just asked to auto-post to Discord. I think it would be useful. We'

[2021-09-20 19:35] stevepiercy commented on #529
To summarize next steps, I would suggest that we start including the following OG meta information:

https://ogp.me/

[code]

I understand that that will lead to some duplication of meta tags, but I think it is worth it for better search results and social media posts.

[2021-09-20 19:46] stevepiercy commented on #506
I posted https://community.plone.org/t/training-documentation-overhaul/14326 and to Discord already.

I would like authors and trainers of PloneConf 2021 trainings to assign reviewers on all PRs when they are ready for English review. I should not be the only reviewer. Some trainers might not need to revise their docs. We (@pbauer @ksuess @spereverde and maybe others? ) all need to encourage that

[2021-09-21 06:57] ksuess commented on #529
What I mean with https://github.com/plone/training/issues/529#issuecomment-923095978 is:
It's an effort to get authors adding meta data to each chapter:

[code]

Now I wonder how to achieve, that every chapter even gets the additional "property=og:description": "OpenGraph description". Ideally this og:description would be generated by a plugin from  --- html_meta:   "description": "description" wi

[2021-09-21 08:54] ksuess commented on #529
I played a little bit with the extension sphinxext-opengraph.
If
[code]
is added to a file, the explicit og:description is prioritized before the generated value from the plugin. That's good and allows to use the plugin.

So if a script adds a snippet

[code]
to every file, the authors just have to fill in text.

A downside (but valuable) is, that the build throws warnings for every empty html_met

[2021-09-21 09:35] stevepiercy commented on #529
Nice work!

I'd like to see a few more default meta tags. These are considered "basic" and should be included.

Per page:

[code]

In `conf.py`

[code]

I think your script could be incorporated into the `Makefile`, and then it could be run at any time from a universal location: `make html_meta`. Coincidentally I just saw an example of a `Makefile` that uses a Python-like scripting language:

http

[2021-09-23 12:17] #529 closed

[2021-09-24 04:35] stevepiercy commented on #535
@mactrash I'm going to close this issue, assuming that you were able to resolve it because you have not provided further information. Feel free to reopen it, or post your question to the [Community forum](https://community.plone.org/).

[2021-09-24 04:35] #535 closed

[2021-09-24 04:39] stevepiercy commented on #519
Can this issue be closed now with the merge of #538?

[2021-09-24 04:57] ksuess commented on #519
I thought to leave it as a reminder to check if text is filled in at least for meta tag "description" at least for each trainings start pages.

[2021-09-24 05:11] stevepiercy opened #540 "Show tooltips in text for glossary terms and permalinks for definitions"
From https://github.com/plone/training/issues/506#issue-937554502

There are several possible implementations.

- https://sphinx-hoverxref.readthedocs.io/en/latest/ (supported by the RTD team, but only works on sites hosted by RTD).
- https://docs.red-dove.com/sphinx_sizzle_theme/index.html#tooltips (supported only in the Sizzle theme).
- https://sphinx-panels.readthedocs.io/en/latest/index.html#l

[2021-09-24 05:12] stevepiercy commented on #506
I see only three unchecked boxes remaining in this issue.

- Overview pages for stories that cover multiple chapters that are connected via a story / general use case.
  Overview pages can have text with an intro and list of chapters plus a graphical navigation map.
  This navigation map shows where to start, where to follow up, which side info could be usefull. This map should be selectable and t

[2021-09-24 05:16] stevepiercy commented on #519
`make clean html`

[code]

I see plenty of reminders. 😉

[2021-09-24 06:10] ksuess commented on #540
+1 from me. That sounds as a good way to go: just to style the terms with a dashed underline. The link is already generated.

Apart from this, my ideal situation would be
- no explict marking of terms by author like https://training.plone.org/5/contributing/writing-docs-guide.html#glossary-terms
- every appearance ot a term mentionend in glossary is magically fitted with a tooltip.

[2021-09-24 06:20] ksuess commented on #506
Released.
Overview of tasks done: https://community.plone.org/t/training-documentation-overhaul/14326
More enhancements to come: https://github.com/plone/training/milestone/10
Authors my have look at https://training.plone.org/5/contributing/authors.html#american-english-spelling-grammar-and-syntax and ask for a review.

[2021-09-24 06:20] #506 closed

[2021-09-24 06:25] ksuess commented on #519
So closing this reminding reminder on reminders

[2021-09-24 06:25] #519 closed

[2021-09-24 07:10] stevepiercy commented on #540
I gave it a shot, but unfortunately the markup for all links that are internal to the docs use the same class of `reference internal`.

[code]

There is currently no parent selector, according to this recent [Stack Overflow post](https://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector).

We can either close this issue as "won't fix", or wait until the standards settle and get ad

[2021-09-24 07:35] ksuess commented on #540
+1 for won't fix (terms get generated link to glossary per default, that's good)
-1 for tooltips for explicit marked terms (marked by directive "terms" https://training.plone.org/5/contributing/writing-docs-guide.html#glossary-terms) and reopen the topic for volunteer that wants to implement
   - parsing text for glossary terms
   - grab glossary
   - fit matched strings with tooltip

[2021-10-18 07:36] stevepiercy opened #545 "Improve style for guilabel and menuselection"
`guilabel` and `menuselection` are frequently used directives, but they lack any styling. I think that there was styling for them in the past.

Here's the rendered HTML.

`<span class="menuselection">Volto → add-ons → project</span>`

`<span class="guilabel">Volto → add-ons → project</span>`

Here's suggested CSS.

[code]

Before and after.
![Screen Shot 2021-10-18 at 12 34 46 AM](https://user-ima

[2021-10-29 18:10] Fosten opened #556 "Three dot ellipses used for both comments and spread operators is confusing"
@jackahl I brought this up during the PloneConf21 Trainings OpenSpace and @fredvd asked me to make a ticket.  When using ... as a comment, recommend using // ... (and perhaps some text) to make it more apparent this is actually a comment.  Looks like most of the training pages do this already, but there are a few occurrences in places like https://training.plone.org/5/voltohandson/header.html#head

[2021-10-29 19:46] stevepiercy commented on #556
The Training docs are separate from the Volto docs and follow different style guides.

From the Training's [Authors Guide, under Syntax Highlighting](https://training.plone.org/5/contributing/authors.html#syntax-highlighting):

When a PR comes through for this issue, I would change that to:

I would appreciate a PR that follows these guidelines.

[2021-11-09 12:20] ksuess opened #563 "Update training "Volto": "Bootstrapping a project""
`npx @plone/create-volto-app my-volto-app` is outdated

https://training.plone.org/5/volto/bootstrap.html#bootstrapping-a-project

[2021-11-20 08:51] stevepiercy opened #566 "Issue on page /deployment/opsworks/index.html"
"Plone Deployments With Amazon OpsWorks" appears twice in the left-side navigation, once as a primary item and again as a secondary.

- [Plone Deployments With Amazon OpsWorks](https://training.plone.org/5/deployment/opsworks/index.html)
- [Automating Plone Deployment > Plone Deployments With Amazon OpsWorks](https://training.plone.org/5/deployment/index.html)

I'm not sure why it recurses.

[2021-12-09 21:26] stevepiercy commented on #540
There is a new release of https://sphinx-hoverxref.readthedocs.io/en/latest/ that now allows references to non-RTD hosted sites.

https://app.mailerlite.com/b7u3f8

[2021-12-12 04:34] tkimnguyen commented on #287
It would be better to keep all installation options for Plone in one place, in plone.org/download

[2021-12-12 04:34] #287 closed

[2021-12-12 04:37] tkimnguyen commented on #254
As in #287 I think it would be easiest to keep all installation / evaluation options on plone.org/download where we can, in fact, make very quick changes in just that one place.

[2021-12-12 08:32] stevepiercy commented on #254
To clarify, I think that listing the options on `plone.org/download` is appropriate. However detailed instructions of _how_ to install Plone _should_ be at https://docs.plone.org/manage/index.html.

Unfortunately the installation for Plone 6 is spread across several Trainings as well as on https://docs.voltocms.com/ and does not yet exist on `docs.plone.org`.

[2021-12-12 08:35] stevepiercy commented on #254
I created an issue for `docs.plone.org` in https://github.com/plone/documentation/issues/1134

[2021-12-15 11:06] ksuess opened #574 "TOBEDISCUSSED mandatory linkcheck for deployment"
linkcheck is important but blocks from time to time a deployment.

[2021-12-15 11:30] stevepiercy commented on #574
I was just discussing this with @tkimnguyen in Discord not too long ago. He mentioned that he had some problems setting up the local dev environment to build the docs and run `make linkcheck`, but did not elaborate on how to improve our setup docs.

Anyway, I think that the `test` GitHub Action should be broken into two different tasks: `linkcheck` and `spellcheck`. It will make finding mistakes e

[2021-12-15 12:50] tkimnguyen commented on #574
I just hadn't gotten around to figuring out what my local setup problem was. I didn't follow the page of setup instructions you referred to. I just tried to setup sphinx and the required myst parser the way I usually do: stumbling...

I dislike the links to external information because of bistrot. So many blog posts etc we currently point to in the main docs are now gone. I think if the informatio

[2021-12-15 15:36] ksuess commented on #574
Great input and base for discussion. That's why I opened the issue and Plone is evolving. Please let's think about and come back to it.

Now I need to maintain the training docs. And the linkchecker is in my way. So will disable the linkcheck now, temporarily.

[2021-12-15 20:03] stevepiercy commented on #574
I think we already do this, but we should definitely include this point in our [Authors Guide](https://training.plone.org/5/contributing/authors.html).

As far as what kinds of links go bad:

- Blog posts
- Deep links to specific sections in external documentation
- VirtualBox.org, again!
- Rate limiting (GitHub especially)

I could write something up that is more guideline-ish for the Authors Gui

[2021-12-30 06:55] stevepiercy opened #577 "Documentation of Deployment Options is Suboptimal"
See also #566.

There are four trainings that relate to deployment.

| Name/Link | Location | Author | Base | Plone Version |
| --- | --- | --- | --- | --- |
| [Automating Plone Deployment](https://training.plone.org/5/deployment/index.html) | `deployment` | @smcmahon | Ansible | 5, 6 classic? |
| [Plone Deployments With Amazon OpsWorks](https://training.plone.org/5/deployment/opsworks/index.html)

[2021-12-30 06:55] stevepiercy commented on #566
This is actually slightly more complicated than I originally thought. See #577.

[2021-12-30 08:23] stevepiercy commented on #574
See [PR #578](https://github.com/plone/training/pull/578).

Actually I already did this: https://training.plone.org/5/contributing/authors.html#all-links-must-be-valid

As far as any other actionable items in this issue, the only one is to restore the enforcement of linkcheck when @ksuess is done with her work.

[2021-12-30 08:57] stevepiercy commented on #254
@tkimnguyen are there any actionable items for this issue that are not covered elsewhere, or can this issue be closed? I think #577 covers what can be done in the Training docs at this time. Everything else is external or it was valid for each training at the time.

Trainings for Plone 5 will not be updated. IMO the training's authors should update their training, else we archive it for Plone 5 tr

[2022-01-06 08:57] #545 closed

[2022-01-11 00:40] stevepiercy opened #581 "Handle obsolete trainings and "Plone Training 2022 documentation" in logo area"
I think we should remove "2022".

Also there are obsolete and outdated trainings that should not be included in the PloneConf 2021 trainings.

Perhaps the way forward is instead of using the version of Plone in the URL, that we use the current year of the PloneConf?

https://training.plone.org/5/wsgi/index.html becomes https://training.plone.org/2019/wsgi/index.html

[2022-01-20 10:53] ksuess opened #582 "Add robots.txt and exclude _source folder"
source txt files are indexed.

![image](https://user-images.githubusercontent.com/1144737/150325146-ee54377e-9e49-466f-8ba8-958c1581db6e.png)

[2022-01-20 11:21] ksuess opened #583 "Replace outdated gulp with sphinx-autobuild"
See https://github.com/plone/documentation/issues/1157

[2022-01-21 09:04] ksuess opened #585 "Show training title"
![13__Customizing_Volto_Components_–_Mastering_Plone_6_Development_—_Plone_Training_2022_documentation](https://user-images.githubusercontent.com/1144737/150498206-485100ad-e8ee-41ba-b686-c5c6b7c66975.png)

[2022-02-06 11:32] stevepiercy commented on #347
When writing JSX code, avoid using `'` in HTML tags. The lexer barfs on it.

[2022-02-06 11:33] stevepiercy commented on #347
See https://github.com/fcurella/jsx-lexer/issues/15

[2022-03-11 06:03] ksuess commented on #585
done.

[2022-03-11 06:03] #585 closed

[2022-03-11 06:05] ksuess commented on #583
`make livehtml`

[2022-03-11 06:05] #583 closed

[2022-03-11 06:16] stevepiercy commented on #540
@ksuess what do you think of this implementation? https://sphinx-hoverxref.readthedocs.io/en/latest/usage.html#tooltip-on-glossary-terms

sphinx-hoverxref allows tooltips for glossary terms with no additional markup, just a configuration item. It also allows it for other objects.

[2022-03-11 06:26] stevepiercy commented on #533
Progress is being made on a [PR in the pydata-sphinx-theme](https://github.com/pydata/pydata-sphinx-theme/pull/540) on which sphinx-book-theme is based. If you have feedback, please let them know.

[2022-03-11 08:21] avimishra18 commented on #422
### Does the suffix matter? If so, chapter 5 should tell me to create the file with this extension.

Check the [react-scripts config](https://github.com/facebook/create-react-app/blob/main/packages/react-scripts/config/webpack.config.js) which is used in [create-react-app](https://create-react-app.dev/)
[code]
It supports both `.js` & `.jsx` extensions & possibly handles them the same way in this

[2022-03-11 08:25] avimishra18 commented on #434
React training only uses functional components. I think this issue can be closed.

[2022-03-11 08:29] avimishra18 commented on #421
React training only uses functional components as of now. I think this issue can be closed. 🙂

[2022-03-11 17:36] TC5022 commented on #423
May I work on this issue @mauritsvanrees @ichim-david?

[2022-03-11 20:42] avimishra18 opened #588 "Issue on page /react/reusable_component.html (6.3. Property Validation)"
# Issue
[6.3. Property Validation](https://training.plone.org/5/react/reusable_component.html#property-validation) Class Component type “static” style of propTypes definition, but training only covers functional component. This makes it confusing for a beginner.

[Link to Community Discussion](https://community.plone.org/t/information-for-interested-gsoc-students-2022/14893/14?u=avimishra18). Assi

[2022-03-12 07:08] avimishra18 opened #590 "Issue on page /react/snapshot_testing.html [7. Use Snapshot Testing]"
# Issue
**ESLint Error:** [eslint(testing-library/render-result-naming-convention)](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/render-result-naming-convention.md) in the code snippet of the topic [7. Use Snapshot Testing](https://training.plone.org/5/react/snapshot_testing.html)

[Link to Community Discussion](https://community.plone.org/t/information-for

[2022-03-12 07:18] avimishra18 opened #591 "Issue on page /react/external_data.html [16.2. Writing Middleware]"
# Issue
**ESLint Warning:** [import/no-anonymous-default-export](https://github.com/import-js/eslint-plugin-import/blob/v2.25.4/docs/rules/no-anonymous-default-export.md) in the code snippet of the topic [16.2. Writing Middleware](https://training.plone.org/5/react/external_data.html#writing-middleware)

[Link to Community Discussion](https://community.plone.org/t/information-for-interested-gsoc-s

[2022-03-12 07:27] stevepiercy commented on #590
Please submit a PR for this, but use spaces instead of tabs.

[2022-03-12 07:28] stevepiercy commented on #591
Please submit a PR for this. Thank you!

[2022-03-12 07:34] avimishra18 commented on #588
Fixed in #589

[2022-03-12 07:34] #588 closed

[2022-03-12 07:40] avimishra18 commented on #591
@stevepiercy, considering this & #590. Should I make two different PR for 2 different issues or a single one? (Like, which approach will be better)

[2022-03-12 07:46] stevepiercy commented on #591
Thanks for asking. For the Training repo, we like to make it easy to contribute, and not make busy work. I think for a few number of small changes, combining them into a single pull request is fine. Also because this is for a single training, it makes sense to get it all done in a single swoop.

[2022-03-12 08:03] avimishra18 opened #592 "Issue on page /react/routes.html [18. Using Different Routes]"
# Issue
[react-router-dom](https://www.npmjs.com/package/react-router-dom) package had a major update from v5 to v6. It has a lot of breaking changes. [18. Using Different Routes](https://training.plone.org/5/react/routes.html) was written at the time of v5. But the command:
[code]
Mentioned [here](https://training.plone.org/5/react/routes.html#routing) will install the latest version i.e. v6 now.

[2022-03-12 08:11] avimishra18 commented on #591
@stevepiercy LineFeed is `LF` right?

[2022-03-12 08:24] avimishra18 commented on #422
@stevepiercy can I assign myself this issue?

[2022-03-12 09:43] stevepiercy commented on #591
I don't understand the question. Do you mean what are the line endings for files in the repo?

[2022-03-12 09:47] avimishra18 commented on #591
Yes, exactly. Sorry, my bad.

[2022-03-12 10:09] stevepiercy commented on #592
For this one, I would check with the Volto frontend folks if they have future plans to migrate to v6. For the upcoming v15.0 release, it is at [`5.2.0`](https://github.com/plone/volto/blob/master/package.json#L383).

[2022-03-12 10:13] stevepiercy commented on #422
@avimishra18 sure. I am not familiar with this content, but the current assignees may be able to advise and direct you. @jaroel @robgietema

[2022-03-12 10:20] stevepiercy commented on #591
Honestly, I don't know. It "just works" for me. On my local machine, files use `LF`. I assume the repo uses `LF` as well.

[2022-03-12 10:22] avimishra18 commented on #591
Great, I use Mac as well. So shouldn't be a problem for me.

[2022-03-12 11:27] mauritsvanrees commented on #422
I see that the training has been updated, and the links in the issue do not exist anymore. Let me add links that work today.

This is the React training: https://training.plone.org/5/react/index.html
What above is chapter 5 is now 6, and chapter 7 is 8.
My problem at the time was in these two links, using the GitHub sources here:

- chapter 5/6 on [reusable components](https://github.com/plone/tra

[2022-03-12 11:27] #422 closed

[2022-03-12 11:35] mauritsvanrees commented on #423
@TC5022 I would say go ahead! Thanks.

Before a patch can be merged though, you would need to sign the [Plone Contributor Agreement](https://plone.org/foundation/contributors-agreement), otherwise we cannot accept a contribution.

I am actually not completely sure if this is also required for the documentation or training. Does anyone know? cc @polyester

[2022-03-12 12:39] stevepiercy commented on #423
Yes, it is required for everything under the Plone organization, including documentation and trainings.

See https://training.plone.org/5/contributing/index.html#granting-permission-to-publish

[2022-03-12 14:52] TC5022 commented on #423
Thankyou @mauritsvanrees. I have filled out the agreement and will be mailing it soon. Looking forward to being a part of the community!

[2022-03-12 22:23] stevepiercy commented on #423
@TC5022 thank you! While you are waiting for the agreement to be processed, you are welcome to work on this issue and submit a pull request. When your pull request is approved, and your agreement is processed, then your pull request can be merged.

[2022-03-13 09:44] stevepiercy commented on #581
Here's a start of a list of obsolete trainings.

- https://training.plone.org/5/wsgi/index.html
- https://training.plone.org/5/advanced-python/

[2022-03-13 23:45] avimishra18 commented on #592
@nileshgulia1 @TC5022

[2022-03-14 08:20] ksuess commented on #540
@stevepiercy, this looks pretty good, but…. I set it up locally. If I'm not completely wrong, there is a limitation to readthedocs hosting. The tooltip content is loaded as https://readthedocs.org/api/v3/embed/?doctool=sphinx&doctoolversion=4.4.0&url=http://localhost:8000/glossary.html#term-TTW, which fails with 400 error | "External domain not allowed.
The other small minus: A clash with .tooltip

[2022-03-14 09:04] ksuess commented on #540
Another approach could be the way collective.glossary will do:
Provide the glossary in JSON format like
[code]
And jquery.glossarizer to automatically markup glossary terms on a page and display definitions as a tooltip.
[pebbleroad.github.io/glossarizer/](http://pebbleroad.github.io/glossarizer/)

The json could be generate as pre-commit hook?

[2022-03-14 09:23] stevepiercy commented on #540
Oh, bummer, you are correct.

https://sphinx-hoverxref.readthedocs.io/en/latest/installation.html

Are links still clickable? I cannot tell because the demo has `#` for the `href`.

I'm -1 for writing JSON syntax for glossary terms. I want to write MyST syntax with all of its goodies.

[2022-03-14 09:31] stevepiercy commented on #540
It appears that trying to implement [sphinx-hoverxref for static sites increases page load times significantly](https://github.com/readthedocs/sphinx-hoverxref/issues/69).

[2022-03-14 15:55] TC5022 commented on #592
Thank you @avimishra18
@stevepiercy Should I go ahead and update v5 to v6?

[2022-03-15 06:29] nileshgulia1 commented on #592
@TC5022 As steve said, you can start the conversation at https://github.com/plone/volto by creating an issue, followed by a nice PR.

[2022-03-15 08:18] #582 closed

[2022-03-15 08:20] ksuess commented on #574
@stevepiercy, please reopen if you think it is still relevant.

[2022-03-15 08:20] #574 closed

[2022-03-15 08:32] stevepiercy commented on #574
Nope, we're good. linkcheck is re-enabled.

One more thing to notice, I made some [changes to the Sphinx configuration in Documentation](https://github.com/plone/documentation/commit/b000ae85b6af6cf3bb56787ff5f500af002704b7) that are worth consideration for Training. There are some pages with anchors that fail because ~~JavaScript sucks~~ of SSR or other silliness that Sphinx cannot handle. What d

[2022-03-15 09:00] ksuess commented on #574
yes, good idea. I just now experienced the case that a merge in main failed on link checks, but succeeded on a re-run. So, yes, a linkcheck_retries=2 is an enhancement.

[2022-03-15 11:04] TC5022 commented on #592
@stevepiercy @nileshgulia1 Got it! Thank you for your guidance 💯

[2022-03-15 13:29] stevepiercy opened #598 "Port linkcheck settings from plone/documentation"
I made some [changes to the Sphinx configuration in Documentation](https://github.com/plone/documentation/commit/b000ae85b6af6cf3bb56787ff5f500af002704b7) that are worth consideration for Training.

_Originally posted by @stevepiercy in https://github.com/plone/training/issues/574#issuecomment-1067702317_

[2022-03-16 07:51] ksuess opened #604 "Check license"
same for plone/documentation

[2022-03-16 08:13] ksuess commented on #604
Request update of https://plone.org/foundation/copyright-licensing-logo/license-faq for documentation and training.

[2022-03-16 10:32] stevepiercy commented on #604
`plone/documentation` is fine:

- https://github.com/plone/documentation
- https://6.dev-docs.plone.org/contributing/index.html#granting-permission-to-publish

I think you can close this issue, and open one under `plone/plone.org` for updating the page to include an exclusion for anything doc-ish.

[2022-04-06 12:38] wesleybl commented on #563
When using the current documented way of creating the `Volto` project, that is:

[code]
The following error occurs when trying to start the server:

[code]

See: https://github.com/plone/volto/issues/3228

[2022-04-06 19:01] stevepiercy commented on #563
@wesleybl we would greatly appreciate a pull request from you to fix the instructions, especially since you figured out the solution.

[2022-04-06 21:21] stevepiercy commented on #563
@ksuess why? Is it not OK to encourage contributors to make corrections? Please explain.

[2022-04-07 14:09] wesleybl commented on #563
Yes @stevepiercy . As soon as I have some time I'll do a PR.

[2022-04-14 12:35] ksuess opened #610 ""Style guide" is two words in English."
Style guide is two words in English. We need to fix all instances of that for Plone 6 docs. I don't have interest in updating Plone 5 docs.

[code]

_Originally posted by @stevepiercy in https://github.com/plone/training/pull/609#discussion_r850375134_

[2022-04-14 12:42] ksuess opened #611 "Javascript Training: Mark as outdated. Javascript in Plone 6 has fundamental changes."
While fixing broken links I stumbled upon the Javascript training. I suggest to mark it as outdated and put a friendly text, that there will be a new one for Plone 6 later. And that in the mean time the new Plone 6 documentation is the place to read.

[2022-04-20 10:16] #423 closed

[2022-04-20 10:39] stevepiercy opened #613 "Use Intersphinx for 6.dev-docs.plone.org"
We should use Intersphinx instead of fully qualified URLs when linking to Plone 6 docs. But to do that, we need to add labels to the section headers.

_Originally posted by @stevepiercy in https://github.com/plone/training/pull/608#pullrequestreview-946945223_

[2022-04-20 14:41] #563 closed

[2022-04-21 10:33] stevepiercy opened #615 "Sitemap URLs are not OK"
Just realized that the local build produces urls, that i think are not OK (/2022/).
`<url><loc>https://training.plone.org/2022/advanced-python/hello_world.html</loc></url>`

And, where is the sitemap accessible on training.plone.org?

_Originally posted by @ksuess in https://github.com/plone/training/issues/587#issuecomment-1104050387_

[2022-04-21 10:52] stevepiercy commented on #615
`sitemap.xml` should show up at the revised baseurl https://training.plone.org/5/sitemap.xml as soon as we get a passing linkcheck build. After #616 is merged, I will force a build by toggling the linkcheck step off and on in the GItHub workflow.

[2022-04-21 12:50] stevepiercy commented on #598
There are a lot of pages that do not like anchors, even though the link is valid. From time to time, we should comment out links that contain an anchor from `linkcheck_exclude` to verify whether excluded links are still valid.

One thing I found is that GitHub uses JavaScript to rewrite anchors in the HTML of the page by prepending the anchor name with `user-content-`. For example:

[code]

gets r

[2022-04-21 13:06] #615 closed

[2022-04-21 15:21] #598 closed, assigned to nobody

[2022-04-25 12:34] stevepiercy opened #618 "Switch to 6.demo.plone.org from plonedemo.kitconcept.com"
Both the main Plone Documentation, which imports plone.restapi, and Plone Training were reporting broken links due to an expired secure certificate. @sneridagh fixed the certificate for now. However per a brief discussion in Discord, he recommended switching to the new 6.demo.plone.org site instead.

This brings up another issue, specifically that this site requires a basic authentication token to

[2022-04-25 12:35] stevepiercy commented on #618
This issue blocks https://github.com/plone/training/issues/613

[2022-04-25 14:12] ksuess commented on #618
I think you want a Plone website like 6.demo.plone.org, not documentation https://6.dev-docs.plone.org/

[2022-04-25 14:50] stevepiercy commented on #618
ah, crap. fixing.

[2022-06-19 12:24] ksuess opened #625 "Anybody using Vagrant? Can we kick it out? It's chapter is starting to provide broken links."

[2022-06-19 19:28] stevepiercy commented on #625
Which training?

[2022-07-18 10:26] stevepiercy commented on #533
And now it is in progress in https://github.com/executablebooks/sphinx-book-theme/pull/574

[2022-07-26 13:24] ksuess opened #629 "Mastering Plone Development: TBD: Add chapter on how to customize Slate editor and label the former one as irrelevant for new standard installations"
Mark chapter on how to customize former DraftJS editor as still valid for DraftJS users but irrelevant for standard installations.
Link to future chapter on how to customize Slate editor.

[2022-08-23 07:52] gforcada commented on #258
I think some refactoring has happened, so closing this

[2022-08-23 07:52] #258 closed

[2022-08-25 14:10] #1 closed

[2022-08-25 14:11] #9 closed

[2022-08-25 14:20] #36 closed

[2022-08-25 14:21] #37 closed

[2022-08-25 22:45] #59 closed

[2022-08-26 08:13] ksuess opened #631 "Mastering Plone Development: Switch from installation with buildout to installation with pip"
https://github.com/collective/training_buildout/tree/plone6

[2022-08-29 17:10] ksuess commented on #631
Done with https://github.com/collective/training_buildout/pull/22 in branch "plone6"

[2022-08-29 17:10] #631 closed

[2022-08-31 08:13] stevepiercy opened #633 "Blog Tags for Trainings"
Consider using blog-style tags for trainings for searching.

See an example implementation at: https://sphinx-tags.readthedocs.io/en/latest/quickstart.html

[2022-09-20 07:02] #618 closed

[2022-10-11 08:39] stevepiercy opened #660 "Effective Volto missing images"
Images were not committed and pushed.

[code]

[2022-10-11 09:49] ksuess opened #666 "Copy and code snippets without extra line breaks"
If code snippets are copied via selecting text and then pasted in editor, extra line breaks are inserted.

Example:
https://training.plone.org/5/mastering-plone/behaviors_2.html

[2022-10-11 09:58] stevepiercy commented on #666
That's what the copy-paste code button solves. Perhaps we should make it a little more obvious? I mean, the code can be copied by clicking a single button versus click, drag, copy, should we spend time fixing this?

[2022-10-16 05:13] stevepiercy opened #671 "Use sphinx-design to improve home page layout"
Now that the Hugo site is history, we should improve the appearance of the Training home page using [`sphinx-design`](https://sphinx-design.readthedocs.io/en/latest/) to emphasize the current and most important trainings.

[2022-10-16 05:37] stevepiercy opened #672 "Curate Trainings"
We have several outdated, unmaintained, and unsupported trainings. We need to curate them. @polyester, @pbauer, @ksuess, and I discussed how to proceed. We should notify Authors to update their trainings, and let Authors know of their planned status. Here's the suggested plan in sequence.

## Communication

- [x] Create a table of all the trainings with the following columns ([Google Sheets](https

[2022-10-16 13:42] stevepiercy opened #673 "training.plone.org redirects to /2022"
The redirect of `/` to `/2022` prevents the Training to be deployed, due to a failed linkcheck step. The redirect should be removed.

[2022-10-17 08:55] polyester commented on #673
redirect removed, the URL https://training.plone.org now leads direct to the html.

[2022-10-17 09:21] stevepiercy commented on #673
And we're green again!  Thank you!

https://github.com/plone/training/actions/runs/3259805882

[2022-10-17 09:21] #673 closed

[2022-10-19 13:54] stevepiercy commented on #672
@plone/documentation-team @plone/training-authors @plone/training-team @pbauer @ksuess @spereverde would y'all please review the spreadsheet (https://docs.google.com/spreadsheets/d/1Wmg03uXD3fIRYz33xPFnzaFbLYdxjhKq10NAKDswFxg/edit#gid=0) and let me know whether the information is correct, especially whether or not to retain or archive each of the trainings that is currently published?

I will crea

[2022-10-28 15:23] cekk opened #677 "Mixed informations in Mastering Plone training about how to install Plone addons"
Hi, we have a new intern that is trying to follow Mastering Plone training but we've found something confusing ;)

In [setup section](https://training.plone.org/mastering-plone/instructions.html) there are instructions to use the new cookiecutter/pip way to install Plone.

But in [add-ons section](https://training.plone.org/mastering-plone/add-ons.html) and [where user needs to write its own packa

[2022-10-29 00:54] stevepiercy commented on #677
@pbauer or @ksuess would know for sure, but I think that the Mastering Plone 6 was used. However it started life as an exact copy of Mastering Plone 5, then modified over the years. Within the last few months, the installation method with mxdev and cookiecutter was added to the [Plone 6 Documentation](https://6.dev-docs.plone.org/install/manage-add-ons-packages.html). I don't think all of that mad

[2022-11-01 10:14] avoinea opened #679 "Issue on page /effective-volto/addons/block-styling.html enableStyling was removed in volto 16.0.0.alpha.46"
enableStyling is not working anymore starting with [Volto 16.0.0-alpha.46](https://github.com/plone/volto/releases/tag/16.0.0-alpha.46) in https://training.plone.org/effective-volto/addons/block-styling.html

[2022-11-01 11:22] stevepiercy commented on #679
See also https://github.com/plone/volto/issues/3819

[2022-11-01 20:13] flipmcf opened #681 "Issue on page /voltohandson/footer.html"
Should we be throwing css into custom.overrides?  Would it be better practice to create a .less file inside our Footer directory and import it into footer.jsx

It might lead to bad habits... but maybe there was a good reason to use the overrides.

[2022-11-01 21:18] danalvrz opened #682 "Issue on page /voltohandson/eventlistingtemplate.html"
12.2 Says to name file and function `eventTemplate`. According to the `config` files a little later, it should be `eventListingTemplate`. 🥷

[2022-11-01 21:42] stevepiercy commented on #682
@danalvrz would you please submit a PR with the correction?

[2022-11-01 22:24] danalvrz commented on #682
Of course!

[2022-11-03 20:33] davisagli opened #685 "Issue on page /voltoaddons/04-block-edit-options.html"
The last line of DataTable.jsx is wrong. It should be
[code]

[2022-11-04 05:17] tiberiuichim commented on #681
I think it's fine to have CSS in custom.overrides. There are a few (minor) differences in how the (generated) CSS loaded from components gets bundled into the CSS bundles, but the main one is that the css from .overrides will be closer to the "original" intended destination, the main CSS theme.

Having said that, I wouldn't worry too much about this issue. Just pick one style and be consistent wit

[2022-11-07 12:18] stevepiercy opened #687 "Plone Deployment macOS tips"
zcsh on macOS 10.15 requires that for nvm commands, its options with glob characters `*` be quoted.

https://training.plone.org/plone-deployment/setup.html#node-and-node-tools

[code]

Should be:

[code]

[2022-11-07 12:29] stevepiercy opened #688 "Node 18 LTS not yet supported"
[Training setup](https://training.plone.org/plone-deployment/setup.html#) was created just before Node 18 LTS released. Volto has not yet adapted to this version, so using LTS will fail.

[code]

The user must set:

[code]

We should add a note stating the foregoing so that users do not get frustrated with an unsupported Node LTS version.

@jensens @ericof

See also https://github.com/plone/traini

[2022-11-07 12:50] stevepiercy opened #689 "Plone Deployment: Missing commands"
The commands to start the frontend and backend do not display due to an unsupported directive of `{code-base}`. Also I would suggest starting the backend before the frontend.

https://training.plone.org/plone-deployment/edit-project.html#backend

https://training.plone.org/plone-deployment/edit-project.html#frontend

[2022-11-07 21:08] loechel commented on #687
even better would be to use -nvmrc in this context. But that should go into the cookiecutter template

[2022-11-08 00:38] stevepiercy commented on #687
I like that idea. Can you capture that in the cookiecutter's issue tracker?

[2022-11-08 00:40] stevepiercy commented on #687
Ooops, nm, I see you are way ahead of me https://github.com/collective/cookiecutter-plone-starter/issues/33 😁

[2022-11-08 01:22] #687 closed

[2022-11-08 02:09] stevepiercy opened #692 "Clean up Plone Deployment - GitHub App creation"
Under https://training.plone.org/plone-deployment/edit-project.html#adding-oauth-support:

Then at the end of the page https://training.plone.org/plone-deployment/edit-project.html#activate-the-plugin

I assume that I should delete the first sentence, and update the second sentence to include a link to the GitHub documentation for creating a GH app:

https://docs.github.com/en/developers/apps/buil

[2022-11-08 07:17] stevepiercy commented on #688
Fixed in https://github.com/plone/training/pull/690

[2022-11-08 07:17] #688 closed

[2022-11-15 05:03] #689 closed

[2022-11-15 06:42] stevepiercy commented on #692
Closed by #691

[2022-11-15 06:42] #692 closed